[2021-06-11 20:31] MichaelTiemannOSC opened #3 "Trouble committing changes after `git clone https://github.com/os-climate/os-c-platform.git`"
I attempted to add a single line to platform-resourcing.md, but git push fails with:

[code]

[2021-06-16 10:06] #3 closed, assigned to nobody

[2021-06-24 07:30] caldeirav opened #4 "OSC-Platform-001: Platform authentication via GitHub"
As a data scientist, I am able to log and authenticate using GitHub authentication.

[2021-06-24 07:40] caldeirav opened #5 "OSC-Platform-002: Data pipeline code versioning capability"
As a data scientist, i can collaborate on data pipeline code using code versioning tools within my project.

[2021-06-24 07:43] caldeirav opened #6 "OSC-Platform-003: Jupyter Notebook provisioning"
As a data scientist, I am able to create jupyter notebook with python / scikit learn frameworks.

[2021-06-24 07:45] caldeirav opened #7 "OSC-Platform-004: Notebooks dependency management"
As a data scientist, i can directly manage dependencies for JupyterLab notebooks. This requires the use of jupyterlab-requirements extension.

[2021-06-24 07:48] caldeirav opened #8 "OSC-Platform-005: Data Visualization Tooling"
As a data scientist, i have access to data visualization tools for both relational and non-relational data that I can plug onto data sets in my projects. Requires access to Superset over the development environment.

[2021-06-24 07:49] caldeirav opened #9 "OSC-Platform-006: Deployment of pre-trained models"
As a data scientist, i can deploy pre-trained models to be used in my pipeline (e.g. e.g. BERT, RoBERTa, DistilBERT)

As a first use-case, focus on deploying existing Allianz NLP model.

[2021-06-24 07:51] caldeirav opened #10 "OSC-Platform-007: Self service compute for jupyter notebooks"
As a data scientist, I need access to the scalable platform where I can run several jupyter notebooks with various computing capacity (Open Datahub on Kubernetes platform with capacity to expand depending on number of notebooks)

[2021-06-28 13:39] caldeirav opened #11 "OSC-Platform-008: Access to S&P Global ESG Documents"
As a data scientist working on the Corporate Data Ingestion stream, i am able to access and process ESG / sustainability reports from S&P Global.

This requires access to S3 bucket where AWS has loaded the data from S&P Global:
URL: sftp://edx.spglobal.com/Products/ESGFilings
Port: 22
User Name: ESGD5020
Password: 027p3Y+0$

[2021-06-28 13:44] caldeirav opened #12 "OSC-Platform-009: Ability to search documents and metadata"
As a data scientist, i have access to metadata / content search for indexed data on documents data in my projects.

Note: to setup and test this capability for work on S&P Global ESG Documents based on #11.

Likely we should look into a setup of ElasticSearch + document indexing. ElasticSearch python libs dependencies and REST API access should be available from a Jupyter notebook type designed fo

[2021-06-28 13:46] caldeirav opened #13 "OSC-Platform-010: Authentication on S3 and landing zone for partners"
As a platform administrator, i want to be able to create secure landing zones for data partners to push data into via sFTP as and when required. This should reduce the dependency on AWS support for providing data loading zones in the future.

[2021-07-08 02:59] #5 closed, assigned to erikerlandson

[2021-07-08 02:59] #6 closed, assigned to HumairAK

[2021-07-08 02:59] #4 closed, assigned to redmikhail

[2021-07-08 02:59] #10 closed, assigned to redmikhail

[2021-07-08 03:05] #7 closed, assigned to HumairAK

[2021-07-08 03:19] caldeirav opened #18 "OSC-Platform-011: Federated data query & ETL"
As a data scientist, I need to access data from multiple systems within a single query. For example, join data stored in an S3 object storage with data stored in a relational database, combine it into a single processed data view.

For this, should consider setting up Trino as query engine and centralized data access layer (on top of which superset visualization can run).

[2021-07-08 03:33] caldeirav opened #19 "OSC-Platform-012: Create derived data catalogues and share derived data sets with access control"
As a data scientist, i can create and version new data sets and make them available across projects i contribute to.

Investigate using Trino catalog, schema, and table access functionality for this vs. Delta Lake.

https://trino.io/docs/current/security/file-system-access-control.html

[2021-07-26 05:52] caldeirav opened #26 "OSC-Platform-013: Running GPU workloads"
As a developer on the corporate data pipeline, I need to access GPU to run the NLP code

[2021-07-26 06:00] caldeirav opened #27 "OSC-Platform-014: Authentication configuration for Trino / Superset"
As a developer, I am able to access Elastic, Trino and Superset with my GitHub credentials provided i am part of odh-env-users.

[2021-07-26 07:49] #18 closed, assigned to HumairAK

[2021-07-26 07:54] #8 closed, assigned to HumairAK

[2021-07-26 09:30] caldeirav opened #28 "OSC-Platform-015: Migration / Execution of Allianz NLP code"
As an Allianz NLP developer, i want to execute my notebook code (https://github.com/os-climate/corporate_data_pipeline/tree/main/Allianz_NLP) on the JupyterHub platform.

[2021-08-09 12:48] #13 closed, assigned to redmikhail

[2021-08-09 14:30] MichaelTiemannOSC opened #34 "OSC-Platform-016: Validation of pipeline architecture with PUDL data"
The PUDL project transforms regulatory utilities data (capacity, generation, fuel, emissions, location, ownership, etc) into *frictionless* and *tidy* data.  PUDL is the principal part (but not fully stand-alone) of this GitHub site: https://github.com/catalyst-cooperative.  See new release: https://github.com/catalyst-cooperative/pudl/releases/tag/v0.4.0

PUDL has a layered data architecture: Pyt

[2021-08-11 03:23] #27 closed, assigned to HumairAK

[2021-08-11 14:59] MichaelTiemannOSC opened #37 "OSC-Platform-017: integrate Governance into Architecture (https://egeria.odpi.org/)"
The Linux Foundation have a project Egeria: https://egeria.odpi.org/

From that site:  "We believe in the open metadata and governance manifesto:

- The maintenance of metadata must be automated to scale to the sheer volumes and variety of data involved in modern business.  Similarly the use of metadata should be used to drive the governance of data and create a business friendly logical interface

[2021-08-15 17:10] MichaelTiemannOSC opened #38 "OSC-Platform-018: Data Commons Browser support"
A data commons browser is really nothing more than a grid tool that has appropriate columns and filtering mechanisms to show users what rows of data/data sets that match their selection criteria are available in the data commons.  datasette provides an excellent grid-style interface to web browsers, permitting faceted browsing, geospatial browsing (with integrated clusermaps), and easily accessibl

[2021-08-16 02:23] caldeirav opened #39 "OSC-Platform-019: Developer onboarding and data ingestion documentation"
Need a GitHub page showing first steps for a new data scientist using the Data Commons + GitHub environment. Should be based on the structure used in Elyra tutorial and showing:
- How to access structured data using Trino (python client) or CloudBeaver / Superset (visualization)
- How to create persistent data tables / manage data updates with versioning
- How to share the data with another develo

[2021-08-16 02:28] caldeirav opened #40 "OSC-Platform-020: Download rest of ESG documents from S&P Global"
There are around 32000 documents to be downloaded in addition to the existing 8500. For now we shall only do a SFTP from the existing S&P Global repository:

URL: sftp://edx.spglobal.com/Products/ESGFilings
Port: 22
ESGD5020
027p3Y+0$

Likely this will need to be automated with a daily process in the future. Note: Dependency on S&P adding the remaining documents in the SFTP folder.

[2021-08-18 12:22] caldeirav opened #41 "OSC-Platform-021: SFTP access to odh-jupiter-s3-landing"
Need configuration of an SFTP access to existing landing zone for Data Commons environment, based on my GitHub user id (caldeirav) and the SSH public key OS-Climate Key that I have uploaded on GitHub, so I can load sample data such as data from LSEG or Urgentem. Also need the ability to create / access different folders in the bucket for the different sources of data (LSEG, S&P, Urgentem, etc...)

[2021-08-19 04:03] #41 closed, assigned to redmikhail

[2021-08-23 13:42] caldeirav opened #42 "OSC-Platform-021: Automated Ingestion Pipeline"
As an entitled data scientist with specific access rights to access S3 specific bucket, I can build and trigger data pipelines for data to be ingested automatically into a specific Trino Catalogue / Schema / Table. I should not be able to modify source data.

[2021-08-23 14:04] caldeirav opened #43 "OSC-Platform-022: Access rights management for processing pipeline"
As a data scientist / development member with access rights to a specific GitHub repository, I can access specific data that has been ingested for my stream, but not other streams. This should be based on Trino Catalogue / Schema / Table permissions and provide data access granularity at column level.

E.g. 1 for the proposed demo flow - ingestion pipeline for Urgentem data will capture all inform

[2021-08-25 02:01] caldeirav opened #44 "OSC-Platform-023: Create a single application dashboard access"
We need a simple link consolidating access to all tools under Data Commons platform, similar to https://odh.operate-first.cloud/

Right now it should ideally link to: JupyterHub, SuperSet, CloudBeaver, Trino. The page should be maintained under OS-Climate repository and easily maintainable so we can add new tools as they become available.

[2021-08-25 22:49] erikerlandson opened #45 "gpu enabled node(s) not advertising `nvidia.com/gpu` resource"
According to the cluster machine-set, we should have one node that is gpu-enabled, but none of the nodes show the standard `nvidia.com/gpu` resource to allow scheduling based on gpu resource

[code]

[2021-08-27 13:42] erikerlandson opened #46 "Update superset to 1.3.0"
With 1.3.0 we can configure new user impersonation feature for improved access control, and also take advantage of "SQL Lab" - similar to the SQL console with cloudbeaver but with login identities preserved

[2021-08-27 13:44] erikerlandson opened #47 "Update trino python libs to consume oauth support"
This feature is not yet available but there is a PR for it on the trino project that is getting love.
https://github.com/trinodb/trino-python-client/pull/104

[2021-09-06 06:31] #43 closed, assigned to HumairAK

[2021-09-06 10:00] #42 closed, assigned to HumairAK

[2021-09-06 10:02] #19 closed, assigned to HumairAK

[2021-09-06 10:15] caldeirav opened #48 "OSC-Platform-024: Metadata about databases and tables"
As a data scientist, when creating or changing a schema for ingesting or processing data, I want to be able to capture metadata about the database / table / columns. The data could include name, description, units, as well as associated documentation for the structure and should support the ability to tie the metadata to front-end visualisation.

Reference from @MichaelTiemannOSC:  https://docs.da

[2021-09-06 10:39] caldeirav opened #49 "OSC-Platform-025: Versioning and metadata for runs / data sets"
As a data scientist, i want to be able to version all data sets for ingested and processed data, and associate data sets with runtime metadata including information about executions (runs), models, source datasets, and other artifacts. Artifacts are the files and objects that form the inputs and outputs of the components in the pipeline. This should ideally provide an audit trail for all data and

[2021-09-06 10:43] caldeirav opened #50 "OSC-Platform-026: Immutable data lineage management"
As a data scientist, I need to be able to manage data lineage in a single immutable record for all activities and assets in the ML lifecycle which should include:

- Track every version of the pipeline code, associated libraries / models, parameters, intermediate results and final data sets
- Maintain reproducibility of data and code for compliance
- Maintain and manage relationships between histo

[2021-09-06 10:46] caldeirav opened #51 "OSC-Platform-027: Integration of schema / column metadata with visualization"
As a data scientist / developer, I want to be able to plug schema / column information into the front-end when building data visualisation.

An example use-case would be to have metadata about unit of measure for emissions captured in schema / column metadata, and make this accessible in a front-end such as Superset.

[2021-09-08 16:30] erikerlandson opened #52 "onboard `redhat-osc-physical-landing` S3 bucket"
We need to get `redhat-osc-physical-landing` s3 bucket attached to trino

- [x] configure a new hive catalog for that bucket
- [x] stand up a new metadata server pod for that catalog
- [ ] verify we can create a simple table on the bucket and see it from trino

[2021-09-08 16:37] erikerlandson opened #53 "add Mike Clifford to os-climate openshift cluster"
tasks

- [x] invite Mike to os-climate github org, and specifically odh-env-users
- [x] do openshift side configs
- [x] verify Mike can log into cluster, etc

[2021-09-08 17:23] MichaelClifford commented on #53
:+1:  Any additional info needed from me to get added to the cluster @HumairAK

[2021-09-09 01:55] caldeirav commented on #26
GPUs are now available on the cluster, Erik is planning to create a notebook image with GPU enabled as example. Once available / tested we can close this item.

[2021-09-09 19:58] erikerlandson opened #54 "update the `s2i-lab-elyra` imagestream to latest `v0.0.11`"
The current image is `v0.0.8`:
`quay.io/thoth-station/s2i-lab-elyra:v0.0.8`

@MichaelClifford says there are some useful new features on the latest image.

Unsure if this can be updated in isolation via kustomize overlay, or if it should be, or if updating odh operator fixes it.
cc @durandom

[2021-09-10 17:22] erikerlandson commented on #52
@HumairAK  the catalog name `osc-physical-landing` is causing trino problems, because there are dashes in the name, can you rename this with underscores: `osc_physical_landing`

[code]

[2021-09-10 17:45] erikerlandson opened #55 "create "official" trino user names with more secure passwds"
Recommend leaving the current names for now, the ones Humair created earlier, but we should start creating some more official names.  I am thinking like:

`erik_erlandson`
`humair_kahn`
`vincent_caldeira`
`michael_tiemann`
`etc`

Maybe also a couple of actual demo usernames, `demo_user_a`, `demo_user_b`, maybe just give these read/write access to `demo1` catalog data, and read-only access to `defa

[2021-09-13 18:49] erikerlandson commented on #53
cc @HumairAK

[2021-09-13 18:58] HumairAK commented on #53
on it

[2021-09-13 18:59] HumairAK commented on #53
can you guys outline what sort of access is needed?

[2021-09-13 19:18] erikerlandson commented on #53
They need to run ODH: jupyter, trino, superset, etc.  I don't think they need cluster admin, but that is OK too if necessary.

[2021-09-13 19:31] HumairAK commented on #53
I think we ought to limit cluster admin if we can help it. Cluster resources should for the most part only go through git.

[2021-09-14 08:22] caldeirav commented on #11
Was able to test this with the secrets for the bucket were ESG files are loaded, through a simple PDF parsing example now available in our demo notebooks: https://github.com/os-climate/data-platform-demo/blob/master/notebooks/esg_data_ingestion_demo.ipynb

[2021-09-14 08:22] #11 closed

[2021-09-14 16:40] HumairAK opened #56 "Programmatic authentication with dex"
Since dex uses oauth, and we're doing auth with odh tools via dex, it'd be nice if we can set up programmatic auth via dex. See [here](https://github.com/operate-first/SRE/issues/381) for more info.

[2021-09-15 19:44] erikerlandson commented on #55
cc @HumairAK

initial users and user groups:
- [ ] BNPP NLP: Jeremy Goh, Lea Deleris, Andra Anoaica
- [ ] BNPP Entity Matching: Ludan Stoeckle, Rui Dias Morais, Patrycia Barros
- [ ] Allianz (Many Workstreams, Leyla Javadova): David Winkel, Christian Meyndt, Ismail Demir, Tu Schmucker, Oleksandr Anufriyev
- [ ] Ortec Finance: Bert Kramer, Joris Cramwinckel
- [ ] EY: Mike Zehetmayr
- [ ] OS-Climate

[2021-09-16 00:02] caldeirav commented on #55
The Trino setup should be based on GitHub user groups and not by parent company, as per our data security architecture: https://docs.google.com/presentation/d/1eL2XKeBafPK8ZqhpKrqBiwygTcb--TsTouyz5Y7xjg8/edit#slide=id.gef587ef828_0_0

High level summary of requirements based on my thinking so far (to be validated with the dev team as we go along):
- We should have one Trino catalog per repository

[2021-09-16 07:52] alexanu opened #57 "FIGI is now recognized in US and has MIT Open Source License"
According to this [press release](https://www.bloomberg.com/company/press/asc-x9-publishes-u-s-standard-for-the-financial-instrument-global-identifier/), Bloomberg’s [FIGI](https://www.openfigi.com/) (Financial Instrument Global Identifier) is now recognized as official US data standard. So FIGI becomes the 2nd reference data standard alongside Cusip, authorized for financial instrument identifica

[2021-09-16 16:57] HumairAK commented on #55
Hi, it's not clear to me which github orgs map to which users in the above list, can I get an explicit mapping in the form of:

[code]

[2021-09-16 17:11] erikerlandson commented on #55
@HumairAK  I have a proposal:  instead of using "firstname_lastname" let's define trino accounts that are the same as github account names.

This will have advantages:
- it makes it easy to define mappings. github_team->user_group and github_user->trino_user.
- the membership relationships are the same, and so can be derived directly from the github-org (and so also are easy to explain)
- it is ea

[2021-09-16 17:14] HumairAK commented on #55
@erikerlandson can I get starter members for `os-climate-corporate-data-project-team` and `os-climate-itr-tool-project-team`

[2021-09-16 20:42] #55 closed

[2021-09-16 21:41] erikerlandson commented on #53
IIUC Mike has access, closing.

[2021-09-16 21:41] #53 closed

[2021-09-16 21:41] erikerlandson commented on #55
for xref:  https://github.com/operate-first/apps/pull/1010

[2021-09-17 14:12] MichaelTiemannOSC opened #58 "Need auth mechanism for quay.io so notebooks can be optionally private"
As a data scientist, I want to be able to build notebooks that are private until I decide they should be made puiblic.

[2021-09-19 17:25] MichaelTiemannOSC commented on #26
I've added a high priority label to this item as the NLP team is blocking on notice that their GPU workload is ready to proceed.

[2021-09-19 17:28] MichaelTiemannOSC commented on #45
Can we please get this resolved (i.e., make a plan to have the cluster use the GPUs that are preferred in the zone that we are using)?

@dvizzini107

[2021-09-20 07:48] caldeirav commented on #39
Based on the training provided on 17/09, add precisions on the data pipeline flow model in the documentation:

[10:45 AM] STOECKLE Ludan (Guest)
Trino is the "reference" database? i.e. we should clean input files (from S3 or whatever) using pipelines and store all cleaned data there?

[10:47 AM] Vincent Caldeira (Red Hat) (Guest)
Actually to be specific Trino is used at all stages of data pipeline

[2021-09-20 12:48] caldeirav opened #59 "OSC-Platform-029: Monitoring dashboard for data queries in Trino"
As an OS-C Data Commons admin, i need to have a dashboard to let me search for / monitor data queries by type, user and query content. This will be used to monitor data access against access control matrices and also potentially identify patterns of abuse of data access.

[2021-09-20 12:51] caldeirav commented on #59
From Ricardo:
All metrics that Trino generates are JMX MBeans. The Internal Data Hub team enabled it and also it's possible to add to Trino as a catalog: https://trino.io/docs/current/connector/jmx.html. The metrics can be exported to Prometheus and there are 13k metrics available (list shared in OS-Climate stand-up chat room).

[2021-09-20 13:38] caldeirav commented on #34
@redmikhail as discussed with you we are still facing issues to access arn:aws:s3://dev-osc-physical-landing-309737258120/ which Michael / Madhu Bussa are looking at.

[2021-09-20 15:57] MichaelTiemannOSC commented on #34
I believe I have fixed the problem so that a power user can copy from the physical risk landing zone to the Red Hat data world:

`aws s3 cp --profile 647521352890_AWSPowerUserAccess s3://dev-osc-physical-landing-309737258120/datacommon-physicalrisk-landing/wri-pp/wri-pp.tsv s3://ocp-odh-os-demo-s3/data/WRI-upload/`

Please let me know if you have any further problems.

[2021-09-21 11:54] MichaelTiemannOSC opened #60 "request trino account"
I am attempting to see whether following the steps documented at os-climate-diagram.pdf (page 2) leads me to a notebook that can access the WRI data I uploaded to the demo3 bucket.

[2021-09-21 12:24] caldeirav commented on #34
It is now working. Output as follows:

aws s3 ls --profile 647521352890_AWSPowerUserAccess s3://dev-osc-physical-landing-309737258120
                           PRE athena_result/
                           PRE csv/
                           PRE datacommon-physicalrisk-landing/
                           PRE dev-osc-physicalrisk-upload/
                           PRE pudl-0.4.0/
2021-09-05 07:13:

[2021-09-21 12:58] erikerlandson opened #61 "add gpu enabled node to osc openshift cluster"
We currently have one gpu-enabled node. Now that we are ready to begin supporting os-climate members using gpus, we will need to start adding more gpus.  I recommend running 4 gpu enabled nodes.
cc @caldeirav

[2021-09-21 13:07] erikerlandson commented on #60
@MichaelTiemannOSC  we are currently managing access levels by trino user-groups that correspond to os-climate github teams, per the data governance docs (cc @caldeirav):
 https://github.com/orgs/os-climate/teams

Is there a team that corresponds to your access needs or should we create a new one, or do you need admin access?

[2021-09-21 13:10] erikerlandson commented on #61
cc @MichaelTiemannOSC  -  regarding approval for AWS resource usage

[2021-09-21 13:15] MichaelTiemannOSC commented on #60
I am a member of the odh-evn-users team, which I think should be sufficient.  But if I need a more specific permission, this would be the demo-3 user group (I think).

Michael

[2021-09-21 14:42] erikerlandson commented on #60
`odh-env-users` is a "special" group for allowing openshift cluster access - it does not correspond to a trino access group.

@HumairAK Recommend we create a trino user-group corresponding to the `os-climate-data-commons-project-team`, and add Michael Tiemann and ourselves to that, and give it appropriate read access, write access to demo1

[2021-09-22 02:47] redmikhail commented on #61
@erikerlandson we have had some unused quota and I have added two nodes with GPU . I will request increase as well

[2021-09-22 03:20] redmikhail commented on #45
@MichaelTiemannOSC we have currently at least 3 nodes with enabled GPU's (older models) , we will increase this number to 4 . Plan is to see if we can use current GPU enabled nodes (p2 instances) for the tasks related to  COP26 presentation.  I believe that we were able to successfully deploy test notebook that uses gpu , next step is to adapt the actual pipeline to use these nodes  (@erikerlandso

[2021-09-22 17:44] erikerlandson commented on #60
Verified trino connection is successful

[2021-09-22 17:44] #60 closed

[2021-09-22 17:51] erikerlandson commented on #58
Notebooks can be private without any specific private quay.io images - that is controlled via the github repository settings (private repo versus public repo).

If a repository is also building a runtime image, and that image needs to be private, the possible complications are:
 - `aicoe-ci` builds pushing to a private quay.io repo
 - injecting the necessary pull credentials into a pipeline run

I

[2021-09-22 17:53] erikerlandson commented on #58
The `os-climate` quay.io org itself does support private container images - the complications are on the side of the tooling that uses them.

[2021-09-22 17:55] erikerlandson commented on #45
This is fixed, and we have verified jupyter notebook can access the gpus

[2021-09-22 17:55] #45 closed

[2021-09-22 17:56] erikerlandson commented on #26
We have verified that jupyter notebooks can access the gpu resources on the cluster, so I am closing.

[2021-09-22 17:56] #26 closed

[2021-09-22 17:59] erikerlandson commented on #58
Inquiring about user-specific launcher entries

[2021-09-23 15:05] erikerlandson opened #62 "create catalog for `dev-osc-physical-landing-309737258120`"
We need to expose a trino catalog for a bucket
`dev-osc-physical-landing-309737258120`

cc @caldeirav

[2021-09-23 15:43] HumairAK commented on #62
the wording is a bit confusing for me, do you mean, add an new trino catalog for this new bucket?

[2021-09-23 15:44] erikerlandson commented on #62
@HumairAK  yes

[2021-09-25 10:02] caldeirav opened #63 "OSC-Platform-028: Open table format supporting schema evolution and time travel"
Traditional git-like data versioning systems such as DVC or Pachyderm  just track immutable files, they do not store the differences between files and cannot handle time-travel queries. Without time-travel, we cannot support incremental feature engineering, and are limited to compute features only on the data that has changed since the last time run.

We need to use a transactional data-lake that

[2021-09-25 10:37] MichaelTiemannOSC commented on #62
I will note in passing that this bucket is a bit of a dumping ground, and is not organized as a best-practices data source.  We should not knock ourselves out trying to get this catalog "right"; rather just make the data reasonably accessible.

[2021-09-25 10:41] MichaelTiemannOSC commented on #28
Added Ismail Demir as the changes required to run in ODH environment requires adaptation of originally authored code.

[2021-09-25 12:47] MichaelTiemannOSC opened #64 "conda support HOWTO documentation/configuration support needed"
As a data scientist, I want to use conda to install interesting packages.  There is no conda support in either the minimal or data science JupyterLab notebooks for the odh-env-user using Python 3.8.  When I install miniconda3 using the standard Linux install script, it places the miniconda3 environment in /opt/app-root/src, with two unhelpful consequences:

1. This puts pressure on the small defau

[2021-09-25 14:12] MichaelTiemannOSC commented on #64
I've made some progress by issuing this command from an active conda environment in my terminal window:

`conda install nb_conda_kernels`

This causes the 'base' environment to show up as a kernel option, which enables the conda commands to be used.  Is this the correct solution?

[2021-09-25 14:49] erikerlandson commented on #28
cc @JeremyGohBNP

[2021-09-25 15:17] erikerlandson opened #65 "add some additional launcher options for increased mem but same CPU"
We have a use case for notebook environment that uses more memory without requiring additional cpus. This can be done by adding the appropriate singleuser profile.

[2021-09-25 15:17] erikerlandson commented on #65
cc @MichaelTiemannOSC

[2021-09-25 15:18] MichaelTiemannOSC commented on #65
Suggest 1 CPU with 8 GB Filesystem / 8 GB RAM for prototyping.  User profile could be called "Small Geospatial".

[2021-09-25 15:20] erikerlandson commented on #65
cc @HumairAK   I need to figure out where the PVC sizes are configured in the overlays, and/or if those can now be configured via singleuser profiles (that did not used to be the case)

[2021-09-27 08:46] goern commented on #64
@pacospace @harshad16 FYI

[2021-09-27 10:34] MichaelTiemannOSC commented on #64
The cause of the "Server Error 500" is:

`PermissionError: [Errno 1] Operation not permitted: '/opt/app-root/share/jupyter/lab/staging/index.js'`

The file's permissions and its enclosing directory are are 775 for root/builder/other.

[2021-09-27 11:43] MichaelTiemannOSC commented on #64
I've attempted to address the JupyterLab part of the problem in a more public forum, here:  https://github.com/jupyter-on-openshift/jupyter-notebooks/issues/35

@goern @pacospace @harshad16

[2021-09-27 12:29] erikerlandson opened #66 "user can access s3 bucket but trino is erroring out"
@caldeirav  has a situation where he can access the s3 bucket but when he tries to create trino database table, trino is erroring out.

[2021-09-27 13:14] erikerlandson commented on #66
The reproducer is essentially, "run this notebook"
https://github.com/os-climate/data-platform-demo/blob/master/notebooks/pudl_ingestion_sample.ipynb

The failure is in the last cell, where it tells trino to expose the uploaded file as a table.  So the s3 access is working for uploading the files but trino's attempt to access the same bucket is failing.

[2021-09-27 14:13] goern commented on #64
Hey @MichaelTiemannOSC thanks for trying conda out on the ODH environment, I wonder why you need conda at all? is there something that you cant do using pip/pipenv/micropipenv? is there any package provided by conda that are not available from upstream?!

[2021-09-27 14:18] MichaelTiemannOSC commented on #64
My purpose in using Conda was the promise that it did under-the-hood adjustments to Jupyter environment to take care of extensions needed by various packages (such as plotly and/or ipyleaflet).  My understanding was that pip is great for slamming packages into libraries, but then it leaves to the user the manual task of installing/loading extensions, which I know is fraught with difficulties.  Con

[2021-09-27 17:01] MichaelTiemannOSC commented on #48
For the purposes of discussion, let's consider the metadata problem for two cases: the WRI PP data and the Microsoft Corp ESG statistics report (hand-curated by Tiemann from https://aka.ms/MSFTsustainabilityreport2020#page=73).

In the case of WRI data (which starts life as a single table), it falls into 2-3 principal downstream tables: **Plants** (which have lots of statistics such as plant name,

[2021-09-27 18:01] erikerlandson opened #67 "support plotly in the odh elyra jupyter environment"
We have a use case for building plotly-based interfaces in jupyter notebooks.  @MichaelTiemannOSC was able to hack something that worked, but it involved breaking out in to the "raw" jupyter interface and creating a conda environment.  The proper solution would be building elyra notebook image with plotly support, possibly based on Michael's example.

[2021-09-27 18:03] MichaelTiemannOSC commented on #67
I'll give elyra a whirl and let you know.  Do you want me to check in any elyra-related notebooks here, or in some other repo?

[2021-09-27 18:07] erikerlandson commented on #67
I propose that we maintain a "elyra with plotly extensions" image build here:
https://github.com/os-climate/elyra-plotly-notebook

[2021-09-27 18:27] MichaelTiemannOSC commented on #67
I am happy to report success, after a fashion.

1.  Created Elyra notebook image with Medium parameters and SHELL=/bin/bash
2.  Ran these commends in a shell:

[code]
I checked the status of the JupyterLab extensions, and all reported OK:

[code]

So I launched a very simple notebook script:

[code]

This resulted in failure with the Reset button rendering as the textual representation of the widg

[2021-09-27 18:53] erikerlandson commented on #28
for simply developing code and testing it in jupyter, the pipeline image build is not necessary, so development can start with the current environment.

[2021-09-27 18:54] erikerlandson commented on #67
@MichaelTiemannOSC  so to clarify, are you finding that the existing ODH elyra image has the plotly support you need?

Tangentially, you can execute `pip install` commands in a notebook cell, you don't need the shell to do that.

[2021-09-27 18:58] MichaelTiemannOSC commented on #67
What the existing ODH elyra image has is the necessary ability to rebuild JupyterLab after installing the necessary plotly support.  The next step would be for me to translate the installation instructions given in the shell script into a YAML file that pre-loads the necessary libraries for a true elyra-plotly notebook.  The first step was to show how we could go from the initial elyra-vanilla not

[2021-09-27 19:05] erikerlandson commented on #67
ack, we can use the `elyra-plotly-notebook` repo above to pre-install requirements

[2021-09-27 19:15] MichaelTiemannOSC commented on #67
I added a requirements.txt file with snapshots of the important files.  Many others will load in to satisfy dependencies.

[2021-09-27 19:28] redmikhail commented on #66
S3 bucket `s3a://dev-osc-physical-landing-309737258120` is in different AWS account `309737258120` from where OCP cluster is running  ( `647521352890` ) . If want to use it , we need someone who has access to  `309737258120`  to provide access across accounts https://aws.amazon.com/premiumsupport/knowledge-center/cross-account-access-s3/  or alternatively sync and use s3 bucket that we already hav

[2021-09-27 19:42] HumairAK commented on #62
any suggestions on the name for this catalog? see [here](https://github.com/operate-first/apps/tree/master/kfdefs/overlays/osc/osc-cl1/trino/hive-metastores) for current catalogs (dir names in that link)

[2021-09-27 19:43] redmikhail commented on #62
I have commented on this issue in https://github.com/os-climate/os_c_data_commons/issues/66 . Ultimately we need to figure out if we still want to use buckets across two AWS accounts `309737258120` and `647521352890` where second one is where OCP cluster with our ODH is running or try to use account `647521352890` for everything. If we still need to keep data in two accounts we have options : a) s

[2021-09-27 19:55] erikerlandson commented on #62
for name, recommend `osc_physical_landing_dev`

For buckets that are explicitly used by our trino deployment for catalogs, I believe it would ultimately be simplest to create these all from the same account, however would like input from @caldeirav and @MichaelTiemannOSC  on this topic.

There will also be buckets that other community members supply for other data, that will be from other accounts

[2021-09-27 20:08] redmikhail commented on #62
Thank you @MichaelTiemannOSC  it makes sense, I guess for now we need to sync data from the pudl folder in *120 to our account , is it something that you can do or we can ask AWS to help us with that ? @erikerlandson we have redhat-osc-physical-landing-647521352890 s3 bucket for all incoming data which also backed by sftp access sftp.landing.apps.os-climate.org (if anyone doesn't want/can't use S3

[2021-09-27 20:25] erikerlandson commented on #62
The primary access control granularity will be `schema`, and so from that point of view a single bucket can contain an arbitrary number of schemas.

There may be a use case for a "dev" bucket and a "production" bucket so that ingest pipelines do not have to share access credentials between dev and prod.

[2021-09-28 13:50] HumairAK commented on #62
okay -- just looking to clarify, is this issue blocked on user creds for said bucket?

[2021-09-28 14:21] caldeirav opened #68 "Cleanup data and structure in various S3 buckets"
We need to revamp our bucket / data structure to have a clearer and more systematic process:

redhat-osc-physical-landing-647521352890 should be used for source data to be loaded, with only read access to the bucket for all the development team. The data should be structured by source:
SPGI
Urgentem
PUDL

ocp-odh-data-bucket1-s3 should be used for all production data i.e. parquet files of processe

[2021-09-28 14:39] MichaelTiemannOSC commented on #68
I would add (and can do the uploads):

- [ ] WRI 1.3 PowerPlant Data (in WRI)
- [ ] Hand-curated corp data (in OSC-CorpData)

I will check with Hewson on the wisdom of also uploading GHG Emitters data (EPA) and other EPA datasets.

[2021-09-28 15:06] erikerlandson commented on #68
To clarify: the following two buckets will each be mounted via trino catalog:
`ocp-odh-data-bucket1-s3`
`ocp-odh-os-demo-s3`

And the physical landing bucket will NOT be mounted to a trino catalog:
redhat-osc-physical-landing-647521352890

[2021-09-28 15:25] erikerlandson opened #69 "jupyterhub launcher link is not working"
when I click on the link (route) to bring up the launcher, it does not give me the launcher page

[2021-09-28 15:36] #69 closed

[2021-09-28 15:39] erikerlandson commented on #65
Resolved, there are three new size options:
- `1 cpu, 2GB mem`
- `1 cpu, 4GB mem`
- `1 cpu, 8GB mem`

Additionally, the default user PVC is increased to 16GB

[2021-09-28 15:39] #65 closed

[2021-09-29 02:10] caldeirav commented on #68
@erikerlandson this is absolutely correct.
@MichaelTiemannOSC it is arguable whether the hand-curated corporate data should be managed in osc-physical-landing since this is actually not a source we can reconcile against. How is this data produced and how do we intend to "track" the management of data and changes?

[2021-09-29 09:49] MichaelTiemannOSC commented on #68
The hand-curated data was created by Hewson and me to drive a demo of the corp data browser.  In the fullness of time the corp data browser will be browsing actual corp data uploaded to the Data Commons, but until we have such, we need to use this hand-curated data, which is managed and updated for the browser's benefit solely.

[2021-09-29 10:42] MichaelTiemannOSC commented on #62
I have reached out to Madhu Bussa for instruction on how to give this specially created user access via permission sets/roles we have created.  In the mean time, I stand ready to copy whatever other data needs to be copied from the *120 account to the *890 account.  The data in the *120 account is not updated by anybody so there's no fear of data forking.

[2021-09-29 11:12] MichaelTiemannOSC commented on #39
The current documentation flow is pipeline oriented to a fault.  It is certainly helpful to those who live in the pipeline world and want to maintain orientation in that world.  But consider the problem from the perspective of somebody who wants to onboard a dataset (such as the WRI Power Plant data).  Is there anything to do with respect to setting up a "model" (which is presently undocumented--s

[2021-09-29 14:17] caldeirav commented on #68
@MichaelTiemannOSC in this case for the hand-curated corporate data, my proposal would be to manage it directly into a dedicated Trino catalogue - and if possible manage the versioning of the data using code. As discussed today we would be managing the source data bucket in append mode i.e. we only write to add new data sets with no modification allowed (you have a need to update).

[2021-09-29 15:02] MichaelTiemannOSC opened #70 "My trino credentials don't "show tables in hive.team1""
My credentials are sufficient to give me a trino cursor:

`<trino.dbapi.Cursor at 0x7f8af37d8ee0>`

But not sufficient to show tables in hive.team1, so I cannot fully run the trino-pandas-demo notebook.

[2021-09-29 23:52] erikerlandson opened #71 "Migrate to trino authentication using JWT Auth and github login"
@HumairAK  has a client that you can use to authenticate via your github account, and it returns a token that can be used to authenticate into trino.  The client url is here:

https://das-odh-trino.apps.odh-cl1.apps.os-climate.org/

An example of python/jupyter code using the token it returns is:
[code]

The proposed workflow is:
- tokens are configured to have a lifetime of one week
- Once a week

[2021-09-30 01:53] MichaelTiemannOSC commented on #71
Works for me.  I'll try putting that in a few of the example notebooks and generate some pull requests.

[2021-09-30 02:45] MichaelTiemannOSC commented on #68
I am not able to see any schema or tables in osc_datacommons_dev.  I can see that osc_datacommons_dev is the name of a catalog, but the schemas in that catalog are empty and hence there are no tables.  The trino-* notebooks need to be updated so they can dictate the pattern to follow for other notebooks.

[2021-09-30 06:53] caldeirav commented on #71
The process works for me and I have tested it to work fine in the revised PUDL data loading sample. Will close this issue when I have added the above instructions into the developer documentation.

[2021-09-30 12:56] erikerlandson commented on #71
Here is an updated example `credentials.env` format:

[code]

[2021-09-30 13:20] caldeirav opened #72 "Data type error when ingesting PUDL data intro Trino"
Revised demo sample committed at https://github.com/os-climate/data-platform-demo/blob/master/notebooks/pudl_ingestion_sample.ipynb

I have an issue with the data structure (suspect the schema mapping) as when I try to read the ingested data i get the following: TrinoQueryError: TrinoQueryError(type=INTERNAL_ERROR, name=GENERIC_INTERNAL_ERROR, message="io.trino.spi.type.DoubleType", query_id=20210

[2021-09-30 14:02] HumairAK commented on #71
Wait don't close the issue yet, the client is active but I need to configure the expiration times as well.

[2021-09-30 20:34] erikerlandson commented on #68
This should be working with latest updates to trino `rules.json`:
https://github.com/operate-first/apps/blob/master/odh-manifests/osc-cl1/trino/base/trino-config-secret.yaml#L103

[2021-09-30 20:38] erikerlandson commented on #72
[code]

[2021-09-30 20:41] erikerlandson commented on #62
There will no longer be any trino catalog for the physical landing bucket, so I am closing this.

[2021-09-30 20:41] #62 closed

[2021-10-01 10:46] MichaelTiemannOSC commented on #72
Checked in expanded table above as it works.  (It's actually overkill for this specific case, but the larger range of datatypes supported make it a better source for copying to other ingestion pipelines that might have a wider range of source data types.)

[2021-10-01 10:46] #72 closed

[2021-10-01 10:49] caldeirav commented on #71
Developer documentation for environment setup created and the link to the client / modification required for credentials.env has been added into https://github.com/os-climate/os_c_data_commons/blob/main/docs/setup-initial-environment.md

[2021-10-01 10:57] MichaelTiemannOSC commented on #64
So after discovering that the elyra notebook starting point solves my real problems, this is open only because the permissions problem for index.js will continue to thwart the next person who decides they need conda in a Minimal notebook environment.

[2021-10-01 10:58] MichaelTiemannOSC commented on #61
It appears that 4 GPUs are a valid option for notebooks.  Closing as this appears completed.

[2021-10-01 10:58] #61 closed

[2021-10-01 11:00] MichaelTiemannOSC commented on #52
This issue is subsumed by https://github.com/os-climate/os_c_data_commons/issues/68

[2021-10-01 11:00] #52 closed

[2021-10-01 11:40] goern commented on #64
+1 thanks for that!!

[2021-10-01 18:00] MichaelTiemannOSC opened #73 "Is TileDB necessary / desirable for intgrating GeoTIFF files into Trino?"
A Data Science website in NZ suggests that [TileDB][1] is a good way to map multi-dimensional GeoTIFF data into something that works with trino.  Thoughts?

[1] https://github.com/TileDB-Inc/TileDB

@joemoorhouse @NikolaosDimakis

[2021-10-01 19:44] erikerlandson commented on #71
@HumairAK   let me know when you have token expiration configured, we'll close this

[2021-10-01 19:48] erikerlandson commented on #66
This is resolved, closing.

[2021-10-01 19:48] #66 closed

[2021-10-01 19:50] erikerlandson commented on #68
xref: https://github.com/os-climate/os_c_data_commons/issues/40

[2021-10-01 19:53] erikerlandson commented on #71
xref:
- https://github.com/os-climate/os_c_data_commons/issues/47

[2021-10-02 14:45] erikerlandson commented on #71
People have already started using this system - what is the lifetime of the tokens they are receiving now?

[2021-10-03 14:04] MichaelTiemannOSC opened #74 "Add options to create repositories from OS-Climate templates"
It's great that we can create repositories from the AI-COE template (if we know where to look for it).  But it would be better to have pre-made templates that allow us to quickly and easily create repositories for the major tasks we know about, especially data ingestion and data processing, and have that be one of the options that users can access from the top-level "Repositories" view of OS-Clima

[2021-10-04 06:46] caldeirav commented on #34
With the latest commit on https://github.com/os-climate/data-platform-demo/blob/master/notebooks/pudl_ingestion_sample.ipynb we have now validated the proposed ingestion approach for PUDL data.

@MichaelTiemannOSC I propose we should now create a dedicated repo for PUDL data ingestion and start to manage issues at a more detailed level there.

[2021-10-04 07:14] caldeirav commented on #48
Based on our email thread discussing WRI GPPD metadata ingestion:

- We need a proper metadata store (data catalogue) and we should not do this in the same schema.
- There is metadata to be maintained at schema level (WRI), table level (GPPD), and field level (definition of fields for global_power_plant_database.csv).

In the case of WRI GPPD i believe most of this information is contained in the

[2021-10-04 07:39] toki8 commented on #48
@MichaelTiemannOSC referred to this example:
https://github.com/catalyst-cooperative/pudl/pull/806

[2021-10-04 10:27] MichaelTiemannOSC commented on #48
Link to LF metadata project: https://lfaidata.foundation/projects/egeria/

[2021-10-04 10:49] MichaelTiemannOSC commented on #48
@caldeirav With respect to the WRI GPPD data you are correct about the primary metadata source for the WRI data (README.txt).  And of course when certain metadata terms are not completely self-contained, such as the term TWh, there are additional dictionaries that are required (to make data comparable to GWh and MWh).

Most of the publicly sourced datasets, such as RMI, PUDL, etc., have well-defin

[2021-10-04 11:16] toki8 opened #75 "Learn about PUDL metadata strategy"
As a data designer I would like to liase with PUDL (Zane Selvans) in a call to find out how PUDL used metadata to make the data browsable and aid in modelling the datasets.

[2021-10-04 12:24] toki8 commented on #75
Have opened this, as I could not assign issues here:
https://github.com/os-c/DataCommons/issues/37

[2021-10-04 12:28] caldeirav commented on #75
Close this as duplicate of os-c/DataCommons#37

[2021-10-04 12:28] #75 closed

[2021-10-04 13:12] caldeirav commented on #34
Closed as discussed in sprint meeting

[2021-10-04 13:12] #34 closed

[2021-10-04 13:28] MichaelTiemannOSC commented on #44
Can the links to JupyterHub drill into specific Jupyter notebooks within the JupyterHub?  If so, users can directly access ITR, PhysRisk, etc.

[2021-10-04 13:41] MichaelTiemannOSC commented on #38
Related: https://github.com/os-climate/os_c_data_commons/issues/48

[2021-10-04 16:58] HumairAK commented on #44
@MichaelTiemannOSC as in JupyterHub user notebook servers? No that's not supported by Jupyterhub or the ODH dashboard. There is no way for one user to access another user's notebook either.

[2021-10-04 17:01] erikerlandson opened #76 "supporting an iceberg catalog in trino"
cc @caldeirav   @MichaelTiemannOSC  @HumairAK

Would like to start with discussion of this issue before we make final deployment choices.

Supporting iceberg via trino appears to be straightforward:
https://trino.io/docs/current/connector/iceberg.html
The process is identical to our current trino catalogs, except that we would configure a trino connector instead of the hive connectors we are curre

[2021-10-04 17:17] MichaelTiemannOSC commented on #76
It should be trivial to migrate osc_datacommons_dev data to Iceberg because none of our data at present is transactional and all of the data loaded to that bucket is coming from notebooks that generate their output automatically and repeatably.

[2021-10-04 17:20] MichaelTiemannOSC commented on #44
There are notebooks that are used for ingestion, they are all separate, and that's fine.

Maybe what I'm thinking about is that there should be a "Data Scientist's Laucher" which, from a single (Jupyter) environment is able to launch the different analytic tools that can independently access the PROD data, do various analysis, give the data scientists the opportunity to upload and download data as

[2021-10-04 18:33] erikerlandson commented on #38
@oindrillac @aakankshaduggal  were two recommendations from @MichaelClifford  for SuperSet expertise

[2021-10-04 18:56] MichaelTiemannOSC commented on #38
@oindrillac @aakankshaduggal Please let me know when I can share my screen and show you want simple things I'm doing with Datasette that might be done in SuperSet instead.  Thanks!

[2021-10-04 19:08] oindrillac commented on #38
hello @MichaelTiemannOSC! sure, I set some time for us to sync up tomorrow on google calendar. Please feel free to move it around if there is a better time slot :)

[2021-10-04 19:22] MichaelTiemannOSC commented on #67
This is for all intents and purposes working for me now.

[2021-10-04 19:22] #67 closed

[2021-10-04 19:26] MichaelTiemannOSC commented on #71
Here's something I think it NOT working: when changes happen upstream, I don't get any sort of proactive notification in my notebook when in the git view.  Not in real-time and not after I refresh (next to the upload and download).  However, there are some actions that seem to prompt the orange dot appearing above the upstream changes icon.  I think this is related to how authentication is tracked

[2021-10-05 00:08] caldeirav commented on #76
I think we should create a new S3 bucket for experimentation and then we can review the process of ingestion and data management end-to-end. Agree with @MichaelTiemannOSC that migration is simple (not actually needed in fact) - we can simply run the "adapted" pipelines again on the new bucket once ready.

[2021-10-05 12:39] erikerlandson opened #77 "add a trino catalog 'osc_datacommons_iceberg_dev' w/ iceberg connector"
per discussion on #76

@HumairAK  can you:
- [ ] create an s3 bucket to mount to trino
- [ ] mount as `osc_datacommons_iceberg_dev` under trino, using an iceberg connector
- [ ] configure trino user-group `data_commons_project` as owners (and `admins`)

[2021-10-05 12:41] erikerlandson commented on #76
I have filed #77 to produce this experimental iceberg catalog

[2021-10-05 13:29] MichaelTiemannOSC commented on #48
Metadata Store consists of 3 tables:

1. Schema-level metadata
    1. Schema name
    2. Title, Abstract, etc.
2. Table-level metadata
    1.  Table name (GPPD, Annual, Observed)
    2. Parent schema
    3. Table source and processing pipeline
3. Field-level metadata
    1.  Field name
    2.  Parent table
    3. Field type (physical -- integer, float, varchar, etc)
    4. Field type (dimensional

[2021-10-05 14:06] joemoorhouse commented on #73
As discussed with Michael, it would be great to get other views from the team in case we are overlooking a better solution/technology. But otherwise this seems like a very sensible approach to me.

[2021-10-05 15:15] caldeirav commented on #39
Basic developer documentation including pre-requisities, environment setup and data ingestion pipeline has been published into the developer guide.

https://github.com/os-climate/os_c_data_commons/blob/main/docs/create-ingestion-pipeline.md shows the ingestion flow with code snippets.

Will proceed to close and raise issues for additional doc updates required.

[2021-10-05 15:15] #39 closed

[2021-10-05 17:20] MichaelTiemannOSC opened #78 "Superset permissions not working for odh-env-user"
When I visit this page:

https://superset-secure-odh-superset.apps.odh-cl1.apps.os-climate.org/superset/welcome/

I use GitHub as my auth mechanism, which takes me to the site, and a chain of access denials.  So I'm clearly missing some sort of authorization use SuperSet.  I have not problems using JupyterHub/Elyra/Trino.

[2021-10-05 17:58] HumairAK commented on #78
so just a break down on how this works:

1. by default anyone that is in the `odh-env-user` can authenticate via ocp
2. anyone that can authenticate via ocp has the `public` superset role see [here](https://superset.apache.org/docs/security#public) for what superset roles do what
3. anyone in the OCP group named `odh-users` has `admin` superset role. To add someone to this group, append this file

[2021-10-05 18:09] erikerlandson commented on #78
I think `alpha` as a default would be good.

[2021-10-05 20:55] MichaelTiemannOSC opened #79 "Request that OS-Climate ODH host a datasette instance"
PUDL is the state of the art public utilities data set for the US Utilities sector.  It was selected by RMI a few years ago to build their comprehensive Utility Transition Data Hub.  RMI's technology, policy, and data ultimately justifies how the US power sector can successfully transition to net zero by 2050 based on ALL THE FACTORS.

After learning about PUDL (which we are importing into the OS-

[2021-10-06 13:51] erikerlandson opened #80 "OSC-Platform-030: Deploy (LinkedIn) Data Hub as a metadata management service"
This is a tracking issue for exploring LinkedIn's "Data Hub" project as a meta data management service for OSC.

Reference about metadata architectures and "Data Hub": https://engineering.linkedin.com/blog/2020/datahub-popular-metadata-architectures-explained.

cc @MichaelTiemannOSC @caldeirav

[2021-10-06 19:17] HumairAK commented on #46
@rimolive do we have an ODH image for superset with 1.3?

[2021-10-06 19:29] #78 closed

[2021-10-06 19:36] HumairAK commented on #78
I've made all authenticated users `Alpha` by default.

@MichaelTiemannOSC can you try to access superset now?

[2021-10-07 02:18] MichaelTiemannOSC commented on #78
Sorry to reopen.  While I can now open SuperSet and get to the main landing page without access errors (I am now a member of both Public and Alpha), I see very limited views of data I know is in trino.  When I select the wri_gppd schema, I see only the annual_gwh table, not also the plants and estimated_gwh tables.  There are many other things that seem broken due to insufficent permissions or per

[2021-10-07 06:23] caldeirav opened #81 "OSC-Platform-031: Secret management for proprietary data ingestion"
We have two issues currently with secret management for AWS S3 buckets:

- The first one is for ingestion purpose, we have some public sources which we can all make accessible through one set of secrets on redhat-osc-physical-landing-647521352890. But there are other data sources (LSEG, Urgentem, etc...) where we don't want just any pipeline that does ingestion to have access to the data (i.e we s

[2021-10-07 10:18] MichaelTiemannOSC opened #82 "Need Elyra pipeline documentation"
As a data ingester, I want to ingest the WRI GPPD data and then pass metadata to a metadata update process.  But I don't know the best way to pass my specific metadata (schema name for WRI GPPD, tables I create as a result of ingestion, and information about the fields of those tables) to a generic metadata upload process.

Please update https://github.com/os-climate/os_c_data_commons/blob/main/do

[2021-10-07 14:59] MichaelTiemannOSC commented on #78
I don't think I need admin role.  I think something is whacky, either with the data layer or with superset.  With whom should I share my screen when I get a free minute between meetings today?

[2021-10-07 23:57] HumairAK commented on #78
@erikerlandson would it be possible for you to meet with @MichaelTiemannOSC and identify the issues, and what permissions are needed?

[2021-10-08 20:08] MichaelTiemannOSC commented on #78
Sounds to me like whenever a database is created a permission grant needs to be made to SuperSet.  Or whenever a user logs into SuperSet, trino needs to be queried as to what databases are present in the system.

[2021-10-08 22:14] erikerlandson opened #83 "trino `admins` group cannot drop tables"
A while ago I created a few tables as user `erik`, but have since moved to the more correct github-based `erikerlandson` account.

However, although in theory `erikerlandson` has privileges for `admins` group, I cannot delete this old table created by user `erik`:

[code]
results in following error:
[code]

I believe we need to configure the `admins` group to also include ability to drop tables.

[2021-10-08 22:27] erikerlandson commented on #83
side-note, I also tried as user `admin`, but that also errored out:

[code]

May require somehow assigning the `role admin` to `admins`. I haven't figure out where or how role assignments get configured.
https://trino.io/docs/current/connector/hive-security.html#sql-standard-based-authorization

[2021-10-09 13:06] MichaelTiemannOSC opened #84 "Need transactional table support for metadata ingest"
The current metadata design is to maintain three tables in the schema `metastore`: `meta_schema`, `meta_table`, and `meta_field`.

When we ingest a new table that has metadata, we `drop if exists` the table we are ingesting, then we need to

```delete from osc_datacommons_dev.metastore.meta_table where tname='NEW TABLE NAME';```

before we attempt to insert the new metadata associated with the tab

[2021-10-11 11:01] MichaelTiemannOSC opened #85 "Cannot start server after logging out/logging back in"
After stopping my JupyterHub server, logging out, and then logging back in I return to this page:

`https://jupyterhub-odh-jupyterhub.apps.odh-cl1.apps.os-climate.org/hub/home`

It's blank, so I select the Home tab, which presents the *Start My Server* button.  I click the button and nothing happens.

Previously this would initiate the creation of a JupyterHub instance, giving me access to all my

[2021-10-11 13:49] erikerlandson opened #86 "expose a openshift namespace for users to run experimental deployments"
cc @HumairAK

[2021-10-11 14:43] #85 closed, assigned to HumairAK, redmikhail

[2021-10-12 00:29] erikerlandson opened #87 "write up doc for process of creating and maintaining an aicoe-ci build repo"
Document the end to end process of working with aicoe-ci:
- creating a new repository that can be built into a container image w/ aicoe-ci
- Ensuring bots are granted access to github repo
- configuring `.aicoe-ci.yaml` and `.thoth.yaml`
- "docker strategy" vs "source strategy" configurations
- ensuring corresponding image is created over on `quay.io/os-climate`, and the aicoe-ci bot has write acc

[2021-10-13 02:31] caldeirav commented on #63
The decision is to evaluate Apache Iceberg to provide these features. However our evaluation is now blocked based on issue #77

[2021-10-13 11:51] MichaelTiemannOSC commented on #48
I have pushed a new branch adapting the pyarrow implementation prototyped by Vincent: https://github.com/os-climate/wri-gppd-ingestion-pipeline/tree/metadata-v1

Please comment

[2021-10-14 09:46] caldeirav commented on #44
Following on this item: can we just proceed with having at least the existing dashboard used by Operate First environment (which would show links to Jupyter, CloudBeaver, Superset, Trino), maybe with an OS-Climate Data Commons logo? We raised this to make the access across easier during the demo flow and had agreed with this approach in our sprint call. @HumairAK

[2021-10-14 13:11] NikolaosDimakis opened #88 "Need access to Trino DB"
Hi,
Can I have access to trino? I am building a UI for the physical risk tool and need to get the WRI powerplant data.

Many thanks
Nikos

[2021-10-15 00:23] erikerlandson commented on #77
Yes, if we run into other problems we can address as a separate issue

[2021-10-15 00:23] #77 closed

[2021-10-15 14:27] MichaelTiemannOSC commented on #88
Still outstanding?

[2021-10-15 23:27] erikerlandson commented on #86
As I discussed with Humair, while I agree that ultimately not anyone should be able to create projects, for the near term I'd like to maintain this ability.  It is relatively low risk given that only authenticated members can get onto the cluster.

[2021-10-15 23:28] erikerlandson commented on #86
Since we now have `sandbox` defined I will close this issue.

[2021-10-15 23:28] #86 closed

[2021-10-15 23:34] erikerlandson commented on #88
I filed https://github.com/operate-first/apps/pull/1186 to fix this

[2021-10-16 13:48] erikerlandson commented on #88
Updated so that there is a new `physical_risk_project` trino user group, whose members are Nikolaos and Michael Tiemann.

[2021-10-16 14:43] MichaelTiemannOSC commented on #88
Thanks!  I added some additional technical people.  Is there a GitHub action that can keep these lists up to date?

[2021-10-16 15:29] erikerlandson opened #89 "link github team updates to trino configurations"
@MichaelTiemannOSC  asked if changes to team memberships could automatically trigger workflows. The use case was keeping team memberships and trino access control synchronized.

This is the list of categories of "event" that can trigger a github workflow:
https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows

I don't see any triggers that directly map to "change to

[2021-10-18 08:46] NikolaosDimakis commented on #88
Hi Erik, thanks for all the work. I am not sure if you would expect that the error would be resolved, but I still get the same exception as before.

[2021-10-18 09:35] MichaelTiemannOSC commented on #88
It looks like Erik's pull request still needs a simple approval from the AI-COE group, which did not happen over the weekend.

[2021-10-18 18:31] #79 closed, assigned to MichaelClifford, HumairAK

[2021-10-18 18:31] #84 closed, assigned to erikerlandson, caldeirav

[2021-10-18 18:39] MichaelTiemannOSC commented on #64
This is all sorted now.

[2021-10-18 18:39] #64 closed

[2021-10-19 10:47] MichaelTiemannOSC commented on #88
Access grant confirmed by @NikolaosDimakis

[2021-10-19 13:16] MichaelTiemannOSC opened #90 "Data Vault ITR use case"
Apologies if this is a duplicate...

The ITR team have produced a schematic showing what data and calculations should be visible to which user roles.  From the We need to determine how this schematic can be constructed as a set of rules for a Data Vault containing LSEG and Urgentem Data.
![ITR-Prototype-Github](https://user-images.githubusercontent.com/72577720/137916914-5a9f82a9-4f98-4565-a188-da

[2021-10-19 16:57] MichaelTiemannOSC opened #91 "Need longer-lived SuperSet credentials for OS-Climate"
My credential expires approximately every hour (haven't measured precisely). I can get a new credential with the GitHub signon->github oath and then I'm good for another hour. I'd like to be able to work for longer periods of time without needing to refresh that credential.

[2021-10-19 16:57] #46 closed, assigned to HumairAK

[2021-10-19 17:04] MichaelTiemannOSC opened #92 "Unable to see any schemas after 1.3.0 update"
I'm now unable to see any schemas in the osc_datacommons_dev catalog.

[2021-10-19 17:14] MichaelTiemannOSC commented on #92
1. Log into SuperSet 1.3.0 with github oath
2. Navigate to Data->Datasets tab
3. Click +Dataset
4. Select OSC_DataCommons_Dev catalog
5. (three dots while Superset quickly thinks)
6. Attempt to select a Schema, but there are zero schemas available.

In the bottom right corner of the window SuperSet briefly pops up that there was an error attempting to fetch schemas.

[2021-10-19 17:24] HumairAK commented on #92
can you try again?

[2021-10-19 17:34] #92 closed

[2021-10-19 17:38] MichaelTiemannOSC opened #93 "Please enable Dashboard Native filters in SuperSet 1.3.0"
I do not see the option for adding dashboard native filters in SuperSet 1.3.0.

[2021-10-19 19:50] MichaelTiemannOSC commented on #93
There is "documentation" here:

https://github.com/apache/superset/issues/12148

The feature is behind a "feature flag" as shown above.

[2021-10-19 20:06] #93 closed

[2021-10-20 00:05] MichaelTiemannOSC opened #94 "Please enable cross emitting filters in SuperSet"
There is another superset feature needed behind a feature flag: cross emitting filters.  This PR explains how to set the feature flag:

https://github.com/apache-superset/superset-ui/pull/1041

Thank you!

[2021-10-21 23:25] danielsaraujo commented on #94
Hi! I'm having trouble enabling "cross emitting filters". I set the "DASHBOARD_CROSS_FILTERS" flag to True but it's not working.

![image](https://user-images.githubusercontent.com/66426014/138370024-7db761af-4d72-4324-a86c-f23efdf87850.png)

![image](https://user-images.githubusercontent.com/66426014/138369989-765e2e12-9942-4de7-9ac2-cb9b8199e761.png)

Can anybody help me? Thanks in advance!

[2021-10-27 20:58] erikerlandson opened #95 "Deploy ODH Seldon"
workloads like the corporate data stream ("nlp/pdf") can probably be modified so that they are deployable via Seldon s2i and model management.  To explore this it will help to have ODH seldon deployed on the data commons cluster.

cc @MichaelClifford  @ChristianMeyndt @HumairAK  @redmikhail

[2021-10-28 20:30] erikerlandson opened #96 "verify correct configuration of GPU taints and tolerations"
Ideally we should configure all gpu-enabled nodes with taints that minimize non-gpu workloads on those nodes.

Similarly, we want to make sure that any JH pods that are spun up with gpu enablement, have the correct toleration to override the taint.

There is doc on the singleuserprofiles relating to this:
https://github.com/opendatahub-io/jupyterhub-singleuser-profiles/blob/master/docs/gpu_tolerat

[2021-10-28 21:13] MichaelTiemannOSC opened #97 "common ingest functions and data such as snakify and _p2smap should be in a library"
It's time to move code that was initial part of the ingest demo pipelines into a proper library so everybody can use common versions instead of copying additional code they need to maintain.  The library should be named something that's consistent with Data Commons architecture languge.

@DavWinkel

[2021-10-28 23:56] #97 closed, assigned to erikerlandson

[2021-10-31 20:38] redmikhail opened #98 "OS-Climate - Establish the base software versions and tools for Stable instance cluster"
As OS-Climate environment system administrator I need an environment where I can test changes to the configuration and new versions of the applications without interrupting the work of data scientists.

Proposal:

Provision new OpenShift Cluster for OS-Climate project that will become production environment while keeping existing cluster with scaled down capacity for testing of new frameworks, com

[2021-11-02 20:43] erikerlandson commented on #89
Another promising approach is to write a trino `GroupProvider` plugin that does what we want.
xref: https://github.com/trinodb/trino/issues/9835

An example of such a plugin implementation, for LDAP, is here:
https://github.com/arghya18/trino-group-provider-ldap-ad

Based on that example, a similar plugin that used github api instead of ldap api would be simple enough to be feasible.

[2021-11-02 20:47] erikerlandson commented on #89
Trino's doc page, for completeness:
https://trino.io/docs/current/develop/group-provider.html

[2021-11-02 20:50] erikerlandson commented on #89
cc @caldeirav  @rimolive  @HumairAK

[2021-11-03 06:02] caldeirav commented on #89
With this approach, file system access control implementation will primarily rely on group based catalog rules (for contributors). And we can use role-based access for example for internal operations / admin users once this is available: [https://github.com/trinodb/trino/issues/9839](url)

See my comments on the above issue, where the multiple GroupProvider approach could be used for federation pu

[2021-11-05 00:03] erikerlandson commented on #89
I have created a skeleton repo for a `GitHubGroupProvider`:
https://github.com/os-climate/trino-github-group-provider

It will build with `mvn clean package` but it only returns an empty `Set<String>`, so it needs the biz logic for actually talking to a github org and identifying team memberships to use for trino group names

[2021-11-08 12:08] MichaelTiemannOSC commented on #87
I have updated an empty doc page that may relate to this issue: https://github.com/os-climate/os_c_data_commons/blob/main/docs/setup-gitops-pipeline.md

But perhaps it's only true if we migrate to a world where ingestion notebooks are fully containerized in their own worlds and their attempts to interact with the "real" Trino system are mediated through a set of mechanisms designed to produce the

[2021-11-15 09:35] MichaelTiemannOSC commented on #48
I have uploaded the latest version of PUDL to the physical landing bucket: s3://redhat-osc-physical-landing-647521352890/PUDL/pudl-v0.5.0-2021-11-14.tgz

This new version has a substantially rewritten metadata system that represents about a year's worth of development work.

[2021-11-15 12:06] caldeirav commented on #48
Should we have a session with the PUDL team to understand their work on
metadata? It should be good input for us.

On Mon, Nov 15, 2021 at 5:36 PM Michael Tiemann ***@***.***>
wrote:

[2021-11-15 15:25] HeatherAck commented on #48
+1 on PUDL session - @MichaelTiemannOSC if you have a contact name, I can work with Ava to get something on the calendar.

[2021-11-15 21:50] zaneselvans commented on #48
The DB structure has changed slightly, there are many more natural primary keys / foreign key relationships now, and more constraints being enforced on the codes in various columns, but I think beyond that, most of the metadata changes mostly just affect the data production side of things.  But hopefully in the next release we will have gone ahead and used it to provide richer descriptions at the

[2021-11-17 22:51] caldeirav commented on #90
Looking at the use-case:
- C1 credential will be based on membership to ITR Developer group, but code for N1 will be accessible for anyone who has repository access.
- Likely we use schema-level access to drive data access in the pipeline itself for transformed data, so the access is consistent across the whole pipeline for the group of developers. U1 does nor drive this (it is the execution conte

[2021-11-18 02:02] MichaelTiemannOSC commented on #90
Sounds to me like you agree with the general contours of the idea, and it's now up to us to prove we can partition functionalities so that developers have the full access they need, users get the access their tools need, and the open source community can see transparently both the lower-level source and the higher-level source, without having access to the data (except where granted specifically a

[2021-11-19 18:21] erikerlandson opened #99 "deploy an `odh-trino-dev` trino db"
I need a vehicle for experimenting with various trino management mechanisms, where I can play with tooling that may break a trino deployment while I develop it.  For one example, testing https://github.com/os-climate/trino-github-group-provider

[2021-11-19 18:46] erikerlandson commented on #98
cc @MichaelTiemannOSC @caldeirav

[2021-11-22 12:13] caldeirav commented on #63
Data ingestion was tested to work with Iceberg connect, with new ingestion sample available at https://github.com/os-climate/data-platform-demo/blob/master/notebooks/trino-data-management.ipynb

We now need to evaluate if we shift our ingestion approach accordingly @erikerlandson @MichaelTiemannOSC

[2021-11-22 12:13] #63 closed

[2021-11-24 16:11] MichaelTiemannOSC opened #101 "Trino server is down"
When I try to connect to the Trino server in the usual way I'm now getting:

[code]

@caldeirav @erikerlandson @dvizzini107 @HeatherAck

[2021-11-24 17:07] MichaelTiemannOSC commented on #101
Fixed by fixing fix in #1364.

[2021-11-24 17:07] #101 closed

[2021-11-25 00:22] MichaelTiemannOSC opened #102 "Trino throws error: __init__() got an unexpected keyword argument 'auth'"
I just hit this error, probably because something was recently changed/broken.

[code]

@HumairAK @redmikhail @caldeirav

[2021-11-25 00:28] MichaelTiemannOSC commented on #102
This might be my fault...due to SQLAlchemy versioning.  PUDL needs 1.4 (it chokes with 1.3) and I think I remember that our instance needs 1.3.  So we have a major skew problem we need to fix.

[2021-11-26 07:57] caldeirav commented on #99
Moving this to High Priority as we have upcoming design discussions on the Data Vault with LSEG and need to validate our proposed approach soon.

[2021-11-26 07:58] caldeirav commented on #90
@MichaelTiemannOSC as discussed could we have a table list of data elements showing by column what belongs to black box / grey box / crystal box. We will use this for POC the access rights management layer with Trino settings.

[2021-11-26 08:21] caldeirav opened #103 "Create a new database for osc_datacommons_iceberg_dev in Superset"
There is currently no database defined on the osc_datacommons_iceberg_dev catalogue in Superset. Could you create one or provide me with the access to create it?

[2021-11-26 09:34] caldeirav opened #104 "SQL Error when querying any table under osc_datacommons_dev and osc_datacommons_prod"
In CloudBeaver:

SELECT *
FROM osc_datacommons_dev.wri_test.gppd_new

returns:

SQL Error [16777235]: Query failed (#20211126_093210_00069_wtvpf): Unable to create input format org.apache.hadoop.mapred.FileInputFormat

@erikerlandson @MichaelTiemannOSC

[2021-11-26 10:57] MichaelTiemannOSC commented on #104
I did some back-end cleanup of things that I was pretty sure I created.  I don't remember, but it's poossible I did something that made wri_test go away.  In which case--my apologies!  But I think I was careful to clean up only my own sandboxes that were obsolete.  There is no trino wri_test directory, only wri_gppd, wri_gppd_md and wri.

[2021-11-26 15:37] HumairAK commented on #99
what bucket should I use for the starting catalogsource for this dev deployment?

[2021-11-26 20:11] #99 closed

[2021-11-26 22:20] erikerlandson opened #105 "increase setting for `query.max-length` on trino"
@MichaelTiemannOSC  is reporting
`TrinoUserError(type=USER_ERROR, name=QUERY_TEXT_TOO_LARGE, message="Query text length(1917808) exceeds the maximum length (1000000)", query_id=20211126_215541_01380_wtvpf)`

I believe setting `query.max-length` to a larger value can help fix this:
https://trino.io/docs/current/release/release-0.166.html#general

[2021-11-26 22:26] MichaelTiemannOSC commented on #105
A problem that will come quickly behind that is that some gateway between my Jupyter notebook and Trino is not happy about being asked to carry large messages.  Note that I'm just using to_sql, and that function is translating my dataframe into a large HTTP(S?) message.  I wrote a loop to send 78 rows of data a time (any more and the gateway would throw 502).  But after sending 16 such messages ba

[2021-11-26 22:34] erikerlandson commented on #105
for large-scale ingest it may be more effective to:
1. dump a large dataframe to a parquet (on hive connector s3)
2. declare a temporary trino table around this parquet
3. do an 'insert from select' from the temp table -> destination table
4. remove temp table (and remove file(s) since trino doesn't do this apparently)

[2021-11-26 22:35] erikerlandson commented on #105
the actual `query.max-length` parameter exists in the code and unit testing but is very poorly documented.  I am not actually sure where in the config it is supposed to go.
cc @rimolive  @HumairAK

[2021-11-26 22:55] erikerlandson commented on #105
another alternative would be to use session properties
https://trino.io/docs/current/admin/session-property-managers.html?highlight=session%20properties#example

so probably session property would be `query_max_length`

[2021-11-29 12:15] caldeirav commented on #104
Re-created the table structure from scratch and without any DROP TABLE it seems I am not getting the problem any more. So will close this issue as we change the code to avoid this situation.

Note: I am currently using the following for my testing:

catalogname = 'osc_datacommons_iceberg_dev'
schemaname = 'wri_new'
tablename = 'gppd'
meta_schema_name = 'metastore_iceberg'
meta_table_name_dataset =

[2021-11-29 12:15] #104 closed

[2021-11-29 16:09] HumairAK commented on #99
Okay trino dev instance is live, created a new bucket for this called `ocp-odh-data-dev-bucket1-s3`.

Info:
Trino dev namespace: https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/k8s/ns/odh-trino-dev/pods
Admin user creds: https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/k8s/ns/odh-trino-dev/secrets/trino-admin-acct

Rules.json and other config files stored in gi

[2021-11-29 23:48] HeatherAck commented on #99
Awesome work!  Thank you!

Heather Ackenhusen
Principal Technical Program Manager
+1 847-687-6023 (mobile/text msg/whatsapp)
OS-Climate (Linux Foundation Contractor)

________________________________
From: Erik Erlandson ***@***.***>
Sent: Monday, November 29, 2021 8:13:38 AM
To: os-climate/os_c_data_commons
Cc: Subscribed
Subject: Re: [os-climate/os_c_data_commons] deploy an `odh-trino-dev` trino

[2021-11-30 17:47] HumairAK commented on #105
seems like you set `query.max-length` in coordinator config found [here](https://github.com/operate-first/apps/blob/master/odh-manifests/osc-cl1/trino/base/trino-config-secret.yaml#L7)

[2021-12-01 17:10] durandom commented on #98
what's the actual purpose here? from what I read we want a test env and declare the existing one stable?

[2021-12-08 16:37] erikerlandson opened #106 "data commons encryption support"
Trino uses TLS encryption so incoming and outgoing data should be encrypted "in motion" over these connections.
It is also possible to configure internal communications, if we have not already:
https://trino.io/docs/current/security/internal-communication.html

There is not yet direct support for encryption at rest, but some integration with parquet column encryption is on their radar:
https://git

[2021-12-09 07:48] caldeirav opened #107 "Query mode in Superset throws Unknown Database Error"
When running a simple query from the SQL Query screen, we hit an unknown database error.

Steps to reproduce:
- Log into Superset
- Click the + button in top right, select SQL Query
- Add a simple query on osc_datacommons_dev database, schema demo such as:

SELECT *
FROM osc_datacommons_dev.demo.gppd

Note: the data can be queried with CloudBeaver and also is visible in Superset if i create a data

[2021-12-10 21:19] MichaelTiemannOSC commented on #73
We discussed getting an instance of this connected to Trino for evaluation.  We have WorldClim GeoTIFF files ready for testing when ready.

[2021-12-12 15:45] MichaelTiemannOSC opened #108 "Trino connections can be made but workers are all failing"
I can create a connection to the Trino server in the usual ways, but even the simplest of queries, such as listing schemas in the catalogs, leads to an error that takes 5 minutes to report:

[code]

Can we automatically test the liveness of the Trino worker pool and restart things deeply enough, in an automated fashion, if they should become wedged in this way again?  Or do we need sophisticated a

[2021-12-12 15:49] MichaelTiemannOSC opened #109 "Superset is unavailable"
The OS-Climate SuperSet instance seems to have failed completely.  When I try to reauthorize via github I get to: `http://dex-dex.apps.odh-cl1.apps.os-climate.org/callback?code=sha256~vglHnV1xQhbIyOKjiAh16FLPAEMXD8fBg7ImhPpzims&state=huqhdenckvzi52infk6j3i4zh`

Which gives me:

[code]

When I try to access the more canonical URL at `https://dex-dex.apps.odh-cl1.apps.os-climate.org/`

I get this me

[2021-12-13 10:26] caldeirav commented on #51
Blocked due to issue #107 - unable to build linked query between data set and associated metadata. @HumairAK

[2021-12-13 10:35] caldeirav opened #110 "Update documentation on Data Commons Architecture"
Update architecture documentation in the repo to match scope of technical deep dive and also include the discussions about data management / security so this can serve as a reference with data stakeholders once we go public.

[2021-12-13 10:41] caldeirav opened #111 "Need a way to restart Trino / Superset services when not responsive"
Trino services can become unresponsive at times. Need to trigger a clean services restart for a limited number of admin users for DEV environments (ideally with automated notification to developers mailing list).

[2021-12-13 11:02] MichaelTiemannOSC commented on #110
With several datasets presently represented in the Data Commons, it would be great to identify the key issues those datasets raise in terms of licensing, sourcing, update frequency, metadata, etc., and then use those themes to spell out the best practices intended by the architecture and the implementation.  I won't be offended if one of the pipelines I created is revealed to fall short of the goa

[2021-12-13 13:30] #102 closed

[2021-12-13 13:44] MichaelTiemannOSC commented on #59
The outage this past weekend adds weight to getting a proper monitoring facility implemented.  Who can do this?

@dvizzini107

[2021-12-13 14:09] caldeirav commented on #28
@ChristianMeyndt except for maybe performance issues, can we close this issue since the model has been deployed and working?

[2021-12-13 21:22] erikerlandson opened #112 "Increase memory for trino workers"
We have some evidence that queries are failing due to memory limitations on the trino workers.  Proposal is to double the memory from its current setting of 4GB to 8GB.  Investigate whether increasing the coordinator memory is relevant.

[2021-12-13 21:23] erikerlandson commented on #112
cc @MichaelTiemannOSC @caldeirav

[2021-12-13 21:24] erikerlandson commented on #112
Also need to check if we have to add any openshift nodes to accommodate extra resources.

[2021-12-15 08:09] ChristianMeyndt commented on #9
Yes, this works now. You can close the ticket.

[2021-12-15 08:50] ChristianMeyndt commented on #28
Yes, you can close this ticket. We are generally able to run the code in JupyterHub.
Of course there are still todos esp. for the training of models, but this will be handled within other issues.

[2021-12-15 09:49] #28 closed

[2021-12-15 19:37] erikerlandson opened #113 "use modern container-aware jvm config settings"
This is a potential follow-up to #112.

Based on my reading so far, the following would be good "container-aware" settings for jvm heap and other memory, for the purpose of trino, which runs on the jvm:

[code]

`MaxRAMPercentage` can be set lower for additional safety but for the kinds of mem we are looking at (8-18GB, or more), 25% for non-heap memory should be pretty safe.  We could possibly go

[2021-12-19 12:27] MichaelTiemannOSC commented on #112
I have a query that supposedly returns 9 rows:

[code]

`[(9,)]`

However, when I try to look at the nine rows:

[code]

I get this:

[code]

Am I missing something obvious?

[2021-12-19 16:02] erikerlandson commented on #112
@MichaelTiemannOSC  It looks like you are bumping up against this:

[code]

This is actually big progress - the new memory configurations are causing your query to fail with a proper error exception message, instead of just crashing the worker nodes.

[2021-12-19 17:13] MichaelTiemannOSC commented on #112
Have noticed that the field COREG in SEC_DERA.NUM is more important than first I thought.  When COREG=NULL, it's a fact reported by the consolidated entity, which means one fact of its kind per report, which is what I generally expect.  However, when COREG is not null, it means somebody else is reporting a fact about that company, and there can be many sources *citing* that fact.  I'm trying to fi

[2021-12-19 18:38] erikerlandson commented on #112
This is a good example of the duality of
1) providing sufficient resources
2) developing a deep understanding of the data and query behavior to design queries that are as performant as possible.

Regarding (1), I think it would be reasonable to move to 16GB of ram, and also maybe double `query.max-memory-per-node` and `query.max-total-memory-per-node` from their default values.

[2021-12-19 19:17] MichaelTiemannOSC commented on #112
I'm not asking to raise limits willy-nilly.  I totally concur that we need to better understand the data and query side as well.

That said, I also don't have much experience with database provisioning, nor what constitutes reasonable per-node maxima.  Happy to watch and learn on that front.

[2021-12-20 15:49] #112 closed

[2022-01-06 14:28] HumairAK opened #114 "Set up Cert-Manager or cert expiration for OSC Cluster"
Ideally we would want cert-manager to auto issue new certs as they expire so as to not have to deal with this manually. But if this is not possible then we should at the least have alerts around certs that are close to expiration, otherwise we will incur unexpected downtime/service disruptions for all services on this cluster.

[2022-01-09 18:10] MichaelTiemannOSC opened #115 "Create Data Priority/Waterfall model"
Define a model whereby users can specify a prioritization of available data sources to use in an analysis.  Two examples are:

- Hazard data for physical risk
- S1/S2 emissions intensity data for ITR

Ideally this will result in a common set of idioms that can be used widely across all tools and will scale as more data sources become available to provide coverage for OS-Climates many use cases.

[2022-01-10 05:58] caldeirav opened #116 "Upgrade Trino to release 371"
The latest Trino release contains a data access management feature we will likely require for our initial implementation of the Data Vault related functionalities:

https://github.com/trinodb/trino/pull/9991

We should upgrade with the latest version when possible and before we start building our prototype and demo for data vault (likely this coming sprint).

@MichaelTiemannOSC @erikerlandson @red

[2022-01-10 11:05] MichaelTiemannOSC commented on #108
I have not had this problem since we adjusted Trino's memory configuration and other parameters.  Closing (with fingers crossed).

[2022-01-10 11:05] #108 closed

[2022-01-10 11:05] MichaelTiemannOSC commented on #109
No longer a problem.

[2022-01-10 11:05] #109 closed

[2022-01-10 11:11] MichaelTiemannOSC commented on #115
See https://github.com/os-climate/data-platform-demo/issues/37

[2022-01-11 12:27] #110 closed

[2022-01-11 14:23] HumairAK commented on #116
@rimolive can we get an odh release image for trino for version 367?

[2022-01-14 17:22] MichaelTiemannOSC commented on #116
FYI: https://trino.io/docs/current/release/release-368.html

Some comments about OOM fixes may relate to earlier problems I was seeing.

[2022-01-15 23:11] MichaelTiemannOSC opened #117 "Trying to understand Trino Except regarding HIVE_FILESYSTEM_ERROR"
I've created a prototype Data Vault in ITR (https://github.com/os-climate/ITR/blob/develop-project-vault/test/test_vault_providers.py).  When I initialize `engine_init` with my own credentials and use the schema `itr_mdt` it functions as expected.  When I try to use a different schema, such as `demo` I get this:

[code]

I get the same error message whether I use my own identity or that of `os-cli

[2022-01-16 02:17] MichaelTiemannOSC commented on #117
Related: I cannot simply copy a table in Trino from one schema (where a user does not have permission to select) to another (where that user does):

`engine.execute("create table demo.rmi_company_data as select * from itr_mdt.rmi_company_data").fetchall()`

Throws the same error.  So basically all our Trino writes have to be done partly by hand (which may be a design feature of the data pipeline s

[2022-01-16 05:58] caldeirav opened #118 "Rebuild Data Commons DEV on separate cluster"
Going forward we want proper isolation between DEV and PROD environments for Data Commons, which means:

- Configure two separate clusters and trino instances for DEV and PROD. This also means having two sets of configuration-as-code under os-climate/os_c_data_commons repository to drive deployment separately. Note: iceberg not being a component of ODH, it means we should drive the icerberg deploy

[2022-01-16 06:05] caldeirav opened #119 "Deploy pachyderm on Data Commons DEV"
Deploy pachyderm leveraging the newly available Openshift Operator at https://github.com/pachyderm/openshift-operator. Internal contact at Red Hat: JooHo Lee

Note earlier fix on encryption support which we want to be implemented in our case:
https://github.com/pachyderm/openshift-operator/issues/4

@erikerlandson

[2022-01-16 08:40] MichaelTiemannOSC commented on #117
I worked around this problem thusly:

[code]

But I also I also needed to use WITH statements when creating tables from scratch in the demo context:

[code]

With that, I've unblocked myself.

[2022-01-16 08:45] MichaelTiemannOSC commented on #118
Since everything I've done has followed the "data as code" approach (more or less), it's no problem for the pipelines I've created to rerun from scratch.  Of course each of the pipelines needs a bit of scrubbing to properly use iceberg and implement its metadata and other best practices correctly.  Would be great to do that in view/with help from members as a next step in onboarding resources.

@H

[2022-01-17 14:24] MichaelTiemannOSC commented on #90
Please see https://github.com/os-climate/ITR/blob/develop-project-vault/examples/vault_demo_n0.ipynb

[2022-01-17 20:05] MichaelTiemannOSC commented on #90
If we want to support a unit-aware ITR tool that uses the Data Vault, we must resolve https://github.com/os-climate/os_c_data_commons/issues/51

[2022-01-18 15:14] andraNew opened #120 "OpenCV not working on corporate_data_pipeline Jupyter Image"
I am missing the following library to work with OpenCV on corporate_data_pipeline Jupyter Image
RUN apt-get install ffmpeg libsm6 libxext6  -y

Is it possible to have them added to the Docker Image?

[2022-01-18 15:24] erikerlandson commented on #120
I believe what we want is an aicoe-ci build using `Containerfile` strategy. An example looks like this:
https://github.com/os-climate/data-platform-demo/blob/master/.aicoe-ci.yaml

We would just need to drop in the registry secret and related for the os-climate quay account, and also figure out which base image to use - whichever image is currently assumed for the corporate data pipeline.

[2022-01-19 11:49] MichaelTiemannOSC commented on #116
The upcoming Trino 369 has this interesting bugfix for Iceberg metadata: https://github.com/trinodb/trino/pull/10480

[2022-01-19 19:23] HumairAK commented on #118
FYI current configurations are stored under operate-first org, so we can manage them next to our other services (this makes it easier to share configurations between deployments. )

Regardless, extending configurations to multiple environment should be straight forwards. We should identify the amount of users for both clusters so that we can identify namespace quotas/resource requirements etc.

[2022-01-19 19:54] erikerlandson commented on #118
I would expect the number of users to be essentially the same, at least initially.

The main difference is that in the new "prod" cluster, only certain trino groups will have privileges that are more than "select" - the pipeline processes that run workloads like data ingest will have access to table write privilegs, and if needed access to the underlying s3 buckets.  All other users will have only

[2022-01-19 19:55] HumairAK commented on #118
to clarify -- by 2 clusters are we talking about ocp clusters?

[2022-01-20 00:52] MichaelTiemannOSC commented on #118
CC @HeatherAck to keep abreast of usage and cost.

[2022-01-20 09:41] caldeirav commented on #118
@HumairAK Yes, we are talking about two separate OCP clusters. The data layers (from storage volumes, all the way up to Trino) should also be totally separate. As for keeping the configurations in an operate first org, this would mean that ultimately when we move to a full gitops model we will have OS-C owners for all our repositories also contributing / managing their config from operate first. I

[2022-01-20 13:56] HumairAK commented on #118
This already exists, example of what that looks like: https://github.com/operate-first/apps/pull/1418

We would just need to add these members to an owners file like [this](https://github.com/operate-first/apps/blob/master/odh-manifests/osc-cl1/OWNERS) within the repo where these osc configs are held, so they can then use `/approve` `/lgtm` commands on PRs that change these specific configs.

[2022-01-21 16:55] caldeirav commented on #118
Alright let's go ahead with this and I will bring the repo info / management of OWNERS into our OS-C Data Commons doc then.

[2022-01-24 10:27] andraNew opened #121 "Jupyterhub server fails"
I currently am not able to start a Jupyterhub server on either AICOE or Corporate Data pipeline image. I have the following error. Last time it worked for me I tried running the AICOE demo and had a error no more memory left when downloding the model, so I tried to switch the Container Size from Medium to Larg, but ever since I am not able to open a Jupyterhub environment succesfully. I mention th

[2022-01-25 15:16] #121 closed

[2022-01-26 13:25] andraNew opened #122 "Not able to push on git - Write access to repository not granted."
I am not able to push on git, although I am able to do other operations such as clone. I use my User access token.
![image](https://user-images.githubusercontent.com/62877651/151170807-12a6b985-18c8-4097-8ef6-4f1c20c70537.png)

[2022-01-26 13:40] MichaelClifford commented on #122
I think you do not have write permissions to the upstream repository `os-climate/corporate_data_pipeline`. You should push changes to your own fork of the repo and then open a pull request from your fork to the upstream and have your code reviewed and merged by another contributor.

Here is a [diagram](https://github.com/kubernetes/community/blob/master/contributors/guide/git_workflow.png) from th

[2022-01-26 15:18] sapneg-bnym opened #123 "Access Request for Data Commons platform"

[2022-01-28 09:39] MichaelTiemannOSC commented on #116
FYI: https://trino.io/docs/current/release/release-369.html from a few days ago.

[2022-01-31 09:00] caldeirav commented on #90
@MichaelTiemannOSC Looking at the demo notebook at https://github.com/os-climate/ITR/blob/develop-project-vault/examples/vault_demo_n0.ipynb I have a couple of questions:

- Can you confirm what is defined as fundamental company data i.e. is it the entire content of company_data.fundamental_data table except company and company_id?

- In step 5, you are trying to pass a list of company IDs to the

[2022-01-31 10:11] caldeirav commented on #90
Also in Step 4, the temperature_scores table does not seem to contain fundamental data, what are we trying to show in terms of data not being accessible here?

[2022-01-31 10:17] caldeirav commented on #123
GitHub user sapneg-bnym has been added to odh-env-users and should now be able to access the platform

[2022-01-31 12:58] MichaelTiemannOSC commented on #90
In this use case, fundamental company data is defined as the financial factors over time.  Names and IDs of companies are treated as identifiers and not secret.  Sectorization and regionalization could go either way (I thnk).

As for Step 5: we are using USER3 and engine_user to do the work, so it won't have engine_dev permissions when we actually implement the rules that Erik has recently enabled

[2022-01-31 14:45] caldeirav opened #124 "Review of Data Vault requirements based on LSEG Data Provisioning for OS-Climate"
LSEG has shared a view of vault requirements based on the ITR scenario (DataVault-OS-Climate-forMichael.pptx). We will use this issue for analysis and requirement review and spin new issues for Data Commons accordingly.

[2022-01-31 14:51] caldeirav opened #125 "Review and cleanup of material for new developer onboarding"
This issue will be used to create a task list of items to track against in order to ensure we have the latest documentation / code samples available to support developer onboarding for new contributors.

- [ ] Add references to relevant mailing lists and descriptions in Developer documentation
- [ ] Review and identify relevant samples of demo notebooks, and ensure they can be executed against the

[2022-02-01 22:55] MichaelTiemannOSC commented on #90
So I'm splitting up the notebook, and sure enough it doesn't break apart easily because this code:

`vault_warehouse = DataVaultWarehouse(engine_dev, vault_company_data, vault_production_bm, vault_EI_bm)`

is not something that can be executed as TRINO_USER2.  The SQL database is persistent, which means that each user can get their own access to it.  But now I have to figure out how to pickle/unpi

[2022-02-02 08:13] caldeirav commented on #90
The way I envisioned this would work is more by having each step / notebook generate intermediate tables and defining access rights necessary for the next level of data processing / notebook. Which means for example initial notebook producing all the necessary computation / weightage by Corporate Id for the next layer to process without access to fundamental data. Can this work?

Also another thou

[2022-02-02 10:55] MichaelTiemannOSC commented on #90
I really like the thought about the header.  What would be really cool is if the textual header could be interpreted by a tool to produce a graphical diagram that shows the data and relationships and perhaps allows one to select a persona and see what direct or derived data is accessible (or not).

As for the separation issue: I just need to separate the actions of initialization (which requires t

[2022-02-02 12:37] MichaelTiemannOSC commented on #90
I the latest checkin on the develop-project-vault branch has the three users now operating in their separate notebooks.  We are ready to turn on enforcement at the Trino layer to validate the data access management mechanisms.

[2022-02-03 00:28] caldeirav commented on #118
@redmikhail With the access to our partner portal to get OpenShift subs, can you confirm there is no show stopper now to create the required clusters and also when these could be available for @HumairAK to do the platform deployment?

[2022-02-03 02:58] redmikhail commented on #118
@caldeirav I have added entitlements to the account , so we now should be able to build cluster. I will create vanilla cluster setup (control plane and infrastructure nodes ) so we can add ArgoCD and proceed with configuration using operate-first repo. I will also  start adding "sub-tasks" to this issue so we could track actionable items.

[2022-02-04 18:37] MichaelTiemannOSC commented on #124
Just noting that an email was sent today.

[2022-02-08 13:37] #9 closed

[2022-02-08 13:48] caldeirav commented on #118
With the creation of these two clusters i expect we will need to inform the community of the new links for the various environments. Therefore I have brought in the issue #44 again as it may make sense to have one dashboard where community members can access Trino, jupyter, CloudBeaver, the token generator, etc... for both dev and prod in one place.

[2022-02-08 15:57] erikerlandson commented on #118
Just to put this on the record, we'll need to confirm that these new clusters have access to GPUs having >= 16GB of ram (and access to larger ones is almost certainly going to be desirable)

[2022-02-08 17:17] redmikhail commented on #118
Based on discussion above and somewhat large scope of some of the tasks adding here task list with references to the individual sub-tasks:

- [ ] #98
- [ ] Have a single catalog for DEV and PROD, based on an iceberg volume.
- [ ] Develop and implement a proper promotion process to PROD for data pipelines
- [ ] Rebuild existing Dev Cluster using the same configuration process as for Production clus

[2022-02-08 21:45] redmikhail commented on #98
@durandom We want to have test/staging environment and stable/production environment for data scientists. New cluster will become this stable/production and existing cluster will become dev/staging .We probably will need to be re-built dev cluster eventually to reflect any changes in configuration and processes that have been used for provisioning of production environment

[2022-02-09 01:44] caldeirav commented on #98
@redmikhail I would actually recommend having two new clusters for DEV and PROD, and leave the existing MVP cluster running until we confirm that the new clusters work (starting with DEV), and retire it once confirmed. The reason is we want to have a clean transition to a new environment (with new address) including starting with clean storage volumes as well. This was discussed in our OS-C call y

[2022-02-09 01:49] caldeirav commented on #118
@redmikhail as I go through the tasks and in order to avoid misunderstanding - we want separate Trino for DEV / PROD (with a different single catalog for each instance). The reason is we will separately upgrade Trino in DEV and PROD.

[2022-02-10 10:46] sapneg-bnym opened #126 "Access request for Source Data SFTP"
corporate_data_pipeline

[2022-02-11 00:48] redmikhail commented on #98
@caldeirav Sorry I was under impression that we want to re-use existing cluster as dev , will add it to the tasks

[2022-02-14 03:36] caldeirav commented on #118
OS-Climate - Configuration of Dev/Prod servers meeting (11/02/2022)
Attendees: Mikhail, Erik, Vincent, Michael

- Create two new buckets for osc_datacommons_prod and osc_datacommons_dev with one Trino catalog per bucket
- In osc_datacommons_dev, we will give the possibility for developers to create / maintain their own schema (based on their GitHub ID) to have a dedicated sandbox with isolation
-

[2022-02-14 03:37] caldeirav commented on #118
Yes, this should be a new bucket with a single, new catalog

[2022-02-14 03:40] caldeirav commented on #118
We should keep separate names as people may be connecting to both environments at the same time, also we don't want code to be executed in the wrong environment (good practice to have environment name as parameter in scripts, as an additional check).

[2022-02-14 03:40] caldeirav commented on #118
Yes

[2022-02-14 03:44] caldeirav opened #127 "Add a rule for non-activity to manage JupyterHub sessions"
In order to claim back memory used by idle JupyterHub sessions, implement a rule for idle sessions. For a start, we should automatically kill sessions that have been idle for 3 days or more.

[2022-02-14 03:51] caldeirav opened #128 "Change default logout time in Superset from 5min to 1hour"
In SuperSet, we get logged out of the session too quickly. Could we have auto-logout timing changed to 1 hour?Likely this should be done via setting PERMANENT_SESSION_LIFETIME in config file as per: https://superset.apache.org/docs/installation/configuring-superset/

[2022-02-14 03:54] caldeirav opened #129 "Event-Driven Data Ingestion POC: Implement monitoring for GPU Usage"
There is a need to have better monitoring and management for GPU usage - for the two sets of GPU we are planning to use. To look into building a pipeline from the AWS monitoring data, and integrate into Kafka running on the cluster.

This could be a good technical POC for event-driven data ingestion pattern we have discussed with LSEG, and something a new team member with event-driven architecture

[2022-02-14 04:00] caldeirav commented on #125
Additional items to document:

- [ ] SQL Script execution as part of overall pipeline (e.g. create table structure in SQL before ingestion in Python) - could demonstrate the Trino CLI potentially there
- [ ] Developer onboarding should also include steps to have own sandbox - based on developer github id = schema name (requires config update in Trino)
- [ ] Add link to an example of pipeline with

[2022-02-14 04:10] caldeirav opened #130 "Document integration patterns with external data sources"
As a follow up to our discussions with LSEG, we should document the integration patterns for data ingestion including:
1) Batch based through SFTP pull / push (via landing zone)
2) Event-driven through continuous event consumption / aggregation / loading
3) Data service federation starting with Trino cross-connection, then look potentially at leveraging a protocol such as Delta Sharing (https://gi

[2022-02-14 04:12] caldeirav commented on #124
As the review was done and we have agreed to go into a deep-dive with LSEG, closing this and focusing on follow up in particular #130 that should get discussions started in the deep-dive itself.

[2022-02-14 04:12] #124 closed

[2022-02-14 14:02] caldeirav opened #131 "Ingestion Pipeline and Metadata Management process overview"
The Data Governance group needs a user view of pipeline management metadata use to understand the role of the data owner / steward / architect in the process.

[2022-02-15 04:14] caldeirav opened #132 "Define maintenance policies for Iceberg"
Optimising query for data requires maintenance at Iceberg layer to make sure the file system level information is well structured. More information on maintenance functions at: https://iceberg.apache.org/docs/latest/maintenance/

We should review based on data / data update patterns and specify then implement a housekeeping policy for a start.

[2022-02-15 04:15] caldeirav commented on #132
Also refer to the reference article on Iceberg to understand the trade off between more or less data writes: https://www.dremio.com/resources/guides/apache-iceberg-an-architectural-look-under-the-covers/

[2022-02-15 10:58] MichaelTiemannOSC commented on #126
Sorry about that!  You do have write access to the corporate_data_pipeline repository, but SFTP access is something entirely different.  Assigning Mikhail and Humair, who handle extracurricular functionality in our cluster.

[2022-02-15 13:17] caldeirav commented on #131
First draft sent / reviewed with Data Governance and Management group on Monday 15/02/2022. To add quality gates in the data pipeline into the diagram - a key role of the data domain owner being defining data quality SLA and therefore testing gates to ensure SLA is met before releasing data.

[2022-02-15 18:43] alexanu opened #133 "Access Request for Data Commons platform"

[2022-02-15 18:45] alexanu commented on #133
Could u pls provide me access to Data Commons platrform, S3 buckets and Trino

[2022-02-15 22:37] redmikhail commented on #126
@sapneg-bnym SFTP access is proxy service that allow you to upload files to S3 bucket redhat-osc-physical-landing-647521352890 under **redhat-osc-physicalrisk-upload** folder using sftp protocol . Please let me know if what you want?
Please note that we are using ssh key authentication and in order to setup account for you I will need your public ssh key . Normally we can use public key that you h

[2022-02-16 10:09] alexanu opened #134 "Access request for Source Data SFTP"

[2022-02-16 14:58] HumairAK commented on #118
FYI on the dev cluster these services are up:

Jupyterhub
superset
trino
seldon
cloudbeaver
https://jupyterhub-odh-jupyterhub.apps.odh-cl2.apps.os-climate.org/

https://trino-secure-odh-trino.apps.odh-cl2.apps.os-climate.org/
https://cloudbeaver-odh-trino.apps.odh-cl2.apps.os-climate.org/
https://superset-secure-odh-superset.apps.odh-cl2.apps.os-climate.org/
trino/cloudbeaver admin account same as

[2022-02-16 15:45] erikerlandson commented on #118
We definitely need this, all of our trino authentication story is based on JWT.  That, Or some other solution for generating JWT

[2022-02-16 16:38] HumairAK commented on #118
Okay sure. I can set it up. But I think we might need to a more robust solution for a prod environment in the future.

[2022-02-17 14:25] HumairAK commented on #118
trino token service added: https://das-odh-trino.apps.odh-cl2.apps.os-climate.org

[2022-02-17 15:54] erikerlandson opened #135 "default "any trino user" rules are not operating"
See: https://github.com/os-climate/data-platform-demo/blob/master/notebooks/trino-access-control-bug.ipynb

`user6` should be able to `select` from most tables, but cannot even see the catalogs

[2022-02-17 15:55] erikerlandson commented on #135
one failed experiment was:
https://github.com/operate-first/apps/pull/1635

[2022-02-17 15:58] erikerlandson commented on #135
`@dain` on trino slack created some kind of unit test in java, where he failed to reproduce this behavior:
https://gist.github.com/dain/d0738f5cc19354da1f5c8574bdcd08bb

I'm not totally convinced this unit test represents the behavior of the trino system in live operation but I'm trying a more simple reproducer on the `odh-trino-dev` trino

[2022-02-20 19:07] sapneg-bnym commented on #126
@redmikhail  have emailed you the file, also added it to my profile. I want to run/test the machine learning code in corporate data pipeline repo. I was told, and the readme also mentions that the code reads pdf files and machine learning models from s3 bucket/s and also writes back the output there.

[2022-02-23 05:05] redmikhail commented on #126
@sapneg-bnym I have created user ID for you on our sftp server in case if you need to upload anything to landing S3 bucket . At the same time if you need to use existing pdf's in your model I believe that pipelines already should have access to the S3 directly . @MichaelTiemannOSC I wonder if you can point Sapna to the documents/examples on how to run corporate_data_pipeline with access to the S3

[2022-02-23 16:19] sapneg-bnym commented on #126
@redmikhail I would need user specific aws credentials (access key id and secret) in order to run the pipelines

[2022-02-24 00:47] HeatherAck commented on #126
Adding @erikerlandson as he has also provided credentials in the past

[2022-02-24 13:34] erikerlandson commented on #126
@Shreyanand  @pacospace  does the `pdf_table_extraction` notebook use the trino catalog S3 creds?  I don't see that in the code.

[2022-02-24 13:54] sapneg-bnym commented on #126
@erikerlandson it has instructions which ask to update credentials.env file in the repo. Copying the instructions below:

In order to run this notebook, we need credentials to connect with S3 storage to retrieve and store data.

In an automated environment, the credentials can be specified in a pipeline's environment variables or through Openshift secrets.

For running the notebook in automation i

[2022-02-24 14:00] erikerlandson commented on #126
bucket `ocp-odh-os-demo-s3` is used by the trino db catalog - are the pdf files being stored on that bucket?
cc @Shreyanand

[2022-02-25 18:54] erikerlandson opened #136 "Deploy OSC Data Commons Stable Cluster"
This issue is a replacement for the "production" component of #118. With the completion of the new Development cluster, it is useful to close that issue out, and track the discussion and progress of the eventual PROD cluster on this new issue.

[2022-02-25 18:56] erikerlandson commented on #118
As the eventual PROD cluster is going to have some significant differences with respect to the new DEV cluster, I am going to close this issue out on behalf of the recent creation of DEV.

Future discussion and progress on PROD will be tracked on #136

[2022-02-25 18:57] #118 closed

[2022-02-27 07:26] caldeirav commented on #116
Trino 371 image available at: https://quay.io/repository/opendatahub/trino?tab=tags&tag=371

[2022-02-28 14:16] caldeirav commented on #131
Agreed to close this item as overview was presented to the Data Governance group. Extreme storming sessions to be arranged for each specific streams and specific issues raised for each stream to track the dependencies with Data Commons.

[2022-02-28 14:16] #131 closed

[2022-03-07 13:31] caldeirav commented on #98
@redmikhail we would like to move forward with the creation of the production cluster now, before upgrading the Trino component on DEV (i.e. initially the two clusters will be in sync, then we will start working a validating changes in Dev before promoting to Prod). Do we have the required resources to create Prod? Let us know if any dependency please.

[2022-03-11 01:25] MichaelTiemannOSC commented on #116
This new handling of dropping tables/deletion was merged into Trino 373: https://github.com/trinodb/trino/pull/11062

[2022-03-11 09:48] caldeirav commented on #130
Documentation has been updated at https://github.com/os-climate/os_c_data_commons/blob/main/docs/add-data-pipeline-management.md with the 3 proposed ingestion patterns. @MichaelTiemannOSC @erikerlandson for your review please

[2022-03-11 13:26] MichaelTiemannOSC commented on #130
I have been liking what I've been seeing lately in README.md files such as this: https://github.com/os-climate/osc-ingest-tools#readme, namely some nice small examples up front.  The three diagrams are great, and I know it is only "a mere matter of programming" to put example code with them.  But when we have an exemplar, it would be good to pair with the diagrams.

A second problem, which is much

[2022-03-11 15:16] erikerlandson opened #137 ""max retries" / "certificate expired" error on trino connection"
@mersin35  is seeing this error when connecting to trino.  He says that he got this with fresh JWT token.

[code]

cc @rimolive @HumairAK

[2022-03-11 16:00] erikerlandson commented on #137
SSL cert expired, not the trino token

[2022-03-11 16:10] erikerlandson commented on #137
updated cert works, closing

[2022-03-11 16:10] #137 closed

[2022-03-11 18:26] MichaelTiemannOSC commented on #133
Sander, I don't know how this got lost, but I've assigned to Erik to give you starter credentials.

[2022-03-11 18:27] MichaelTiemannOSC commented on #123
@sapneg-bnym if this is working for you please close the issue.  Thanks!

[2022-03-11 18:28] MichaelTiemannOSC commented on #122
Andra, if this is working for you please close the issue.

[2022-03-11 18:30] MichaelTiemannOSC opened #138 "SSL certificate for ODH has expired"
das-odh-trino.apps.odh-cl1.apps.os-climate.org has an SSL certificate that was valid for 3 months.  It expired last week.  Please update so I can get fresh credentials.

Can we automate the checking of things like this so we don't have interruptions every 3 months?

@erikerlandson @caldeirav

[2022-03-11 18:33] HumairAK commented on #138
Updating, das will go down for a few

[2022-03-11 18:36] HumairAK commented on #138
should be good now, as for automating this, we provision these certs on our routes using [acme operator](https://github.com/tnozicka/openshift-acme) I thought this was already automated so I'm a bit surprised. Will take a look at what we can do.

[2022-03-11 19:53] erikerlandson commented on #133
@alexanu  which team, or project, will you be working on?  the list of current teams is here:
https://github.com/orgs/os-climate/teams

[2022-03-11 19:54] MichaelTiemannOSC commented on #133
Sander worked on the ITR GUI, so ITR project team.  Others?  We'll find out!

Michael

[2022-03-11 19:56] erikerlandson commented on #133
ah, I see someone already added him.  there should now be an invitation to special team `odh-env-users`, which gates access to the openshift cluster

[2022-03-12 10:27] caldeirav commented on #80
Deployment on kubernetes can be done with Helm charts and instructions provided at:
https://github.com/linkedin/datahub/blob/master/docs/deploy/kubernetes.md
https://github.com/acryldata/datahub-helm

Note: all dependencies should be installed first including neo4j, and preference for PostgreSQL as relational database. We may want to consider having kafka, elasticsearch, PostgreSQL and neo4j as sh

[2022-03-12 13:56] MichaelTiemannOSC commented on #138
All good, thanks!

[2022-03-12 13:59] MichaelTiemannOSC commented on #125
Related: https://github.com/os-climate/data-platform-demo/issues/48

@HeatherAck @cdeliaRH

[2022-03-12 14:37] MichaelTiemannOSC opened #139 "Should ingest_catalog from from credentials.env (or similar) rather than hard-coded in ingest script?"
When is it correct to set the catalog in the pipeline ingestion source code, and when it is correct to set the catalog from the environment, such as credentials.env?  It seems very fragile to force different versions of DEV and PROD code when really the difference is the cluster context running the pipeline.

Similarly, should ingest_schema also come from some kind of environment variable rather t

[2022-03-12 14:43] #123 closed

[2022-03-12 16:27] #126 closed

[2022-03-14 08:06] #122 closed

[2022-03-14 08:07] andraNew commented on #122
Issue is closed, thanks for the help

[2022-03-17 00:59] #116 closed

[2022-03-17 15:43] erikerlandson commented on #135
may have a workaround here, depends on https://github.com/os-climate/osc-trino-acl-dsl/issues/6

[2022-03-19 14:15] MichaelTiemannOSC commented on #133
Closing for now.  Sander, if you still need help, please reopen.

[2022-03-19 14:15] #133 closed

[2022-03-23 16:09] SiLeBa opened #140 "Acesa request for S&P reports"
Would it be possible to give me (97178421) access to S&P report via SFTP protocol with R/W access rights

[2022-03-24 18:24] hongshan-bnym opened #141 "Access Request for Data Commons platform"

[2022-03-24 18:31] hongshan-bnym opened #142 "Access request for Source Data SFTP"
[Access request for Source Data SFTP](https://github.com/os-climate/corporate_data_pipeline)

[2022-03-25 13:11] rathiromil13 opened #143 "Access Request for Data Commons platform"

[2022-03-25 13:30] rathiromil13 opened #144 "Access Data for Source Data SFTP"
[Access Data for Source Data SFTP](https://github.com/os-climate/corporate_data_pipeline)

[2022-03-25 17:32] erikerlandson commented on #143
@rathiromil13  you have been made a member, and are a member of odh-env-users team

Has anyone sent you a copy of the `credentials.env` file that includes creds for s3 bucket and instructions for obtaining a trino jwt token?

[2022-03-25 19:15] erikerlandson opened #147 "is `manifests` subdir still relevant?"
the clusters are being managed via https://github.com/operate-first/apps

[2022-03-25 19:15] erikerlandson commented on #147
cc @HumairAK  @caldeirav

[2022-03-28 14:20] eoriorda opened #148 "Daveloper schemas and user rights for Dev environment"

[2022-03-28 14:24] erikerlandson commented on #148
xref:
https://github.com/os-climate/os_c_data_commons/issues/135
https://github.com/os-climate/osc-trino-acl-dsl/issues/6

[2022-03-28 15:33] HumairAK commented on #147
nope it can be removed

[2022-03-28 16:05] #147 closed

[2022-03-28 16:55] MichaelTiemannOSC opened #150 "Establishing order for loading data commons"
In addition to issues raised in https://github.com/os-climate/os_c_data_commons/issues/130 we also need a pattern for defining data dependencies.  For example, https://github.com/os-climate/itr-data-pipeline depends upon loading SEC, RMI, and other datasets.  How can we state the dependencies to automate the ingestion of prerequisite data?

@negillett do you have thoughts?

[2022-03-29 14:06] redmikhail commented on #140
SFTP access is added . Data can be uploaded and retrieved using `sftp SiLeBa@sftp.landing.apps.os-climate.org` command.  I have also added you to the group with permissions to access Jupyter notebooks

[2022-03-29 23:46] MichaelTiemannOSC opened #151 "Iceberg partition use, configuration, and limits"
This morning I tried changing some table partitions from "by year" (we have at most 30 years of data) to "by respondent_id" (there are over 500 distinct respondent_id values), resulting in this error message:

```TrinoUserError: TrinoUserError(type=USER_ERROR, name=ICEBERG_TOO_MANY_OPEN_PARTITIONS, message="Exceeded limit of 100 open writers for partitions", query_id=20220329_122153_01603_bm8rx)``

[2022-03-31 10:32] MichaelTiemannOSC opened #152 "Need guidance for creating tables w/o partitions"
I have  a very simple table with 12K rows (therefore not friendly to partitioning limited to 100 distinct values).  I create the table and see the following warning messages when I insert data:

[code]

Should I be alarmed?  Should I wrap the creation with warnings disabled?

[2022-03-31 10:48] MichaelTiemannOSC opened #153 "Guidance needed for using AddFiles with Iceberg"
This PR allows for easy migration of Hive data into Iceberg: https://github.com/apache/iceberg/pull/2210

I have observed that using the current Iceberg data ingestion (processing 1000 or 2000 insert statements per batch) is perhaps 50x slower than what I saw when using Parquet as a format for Hive.  While it's minorly annoying to wait almost an hour to load data that used to load in a minute or s

[2022-03-31 21:15] erikerlandson commented on #153
The problem with iceberg is that it maintains other nontrivial metadata structures, and loading parquet files into the directory tree is insufficient:
https://iceberg.apache.org/spec/#overview

There is an "add files" capability with iceberg but to the best of my knowledge it is java/scala only:
https://github.com/apache/iceberg/pull/2210
https://github.com/apache/iceberg/issues/2068

There is a p

[2022-03-31 21:17] erikerlandson commented on #153
We can explore writing ingest in java, if that's what you are asking

[2022-03-31 21:34] erikerlandson commented on #153
cc @rimolive

[2022-03-31 21:41] erikerlandson commented on #153
another thing that would probably make `df.to_sql` faster is if trino supports `executemany`
https://github.com/trinodb/trino-python-client/blob/master/trino/dbapi.py#L467

The reason I have to create a literal SQL string for all data rows in TrinoBatchInsert is because executemany isn't supported.
https://github.com/trinodb/trino-python-client/issues/169

[2022-03-31 21:43] MichaelTiemannOSC commented on #153
To that I say "no sir!".  I really don't want to open the Java can of worms myself.  I'll go the conventional way and keep eyes open for when a better path presents.  Then I will loudly ask for the appropriate new version of Trino ;-)

[2022-03-31 21:49] erikerlandson commented on #153
I know that we decided we did not want to do this, but we can re-visit the idea of maintaining a hive catalog, for doing "direct parquet ingest".  And then to get that data into SQL, do a `insert from select`, from the hive-temp-table -> main-iceberg-table.

I am unsure what the performance of that would be, but trino would be managing all the data transfer and I'd expect it to be at least somewha

[2022-03-31 21:59] erikerlandson commented on #153
I don't have much experience multi-threading but sqlalchemy does allow thread-local sessions, and it's probably possible to add multi-threading to TrinoBatchInsert
https://docs.sqlalchemy.org/en/14/orm/contextual.html

[2022-04-01 01:52] MichaelTiemannOSC commented on #153
Just another interesting example of parquet adjacent to our work: https://github.com/catalyst-cooperative/pudl/issues/1564

[2022-04-01 11:33] MichaelTiemannOSC opened #154 "Trino error message "failed to get status""
I'm working on a bulk import script for SEC DERA data.  A previous run was almost successful (my batch_size estimate was a bit too high), but after deleting those tables and trying again I got this message pretty quickly:

TrinoQueryError: TrinoQueryError(type=INTERNAL_ERROR, name=GENERIC_INTERNAL_ERROR, message="Failed to get status for file: s3a://osc-datacommons-s3-bucket-dev02/data/sandbox.db/

[2022-04-01 14:58] MichaelTiemannOSC commented on #154
We suspect this might be fixed with Trino 372 or later (currently fails on 362 and 371).  Another tidbit: steps to get here included making queries that failed due to too-large batch size.  Once the batch size was fixed the failure changed from a batch-size failure to this failure.  No idea whether a too-large batch size is a necessary pre-condition to confusing Trino about the metadata files.

[2022-04-01 17:38] MichaelTiemannOSC commented on #154
It looks to me like snapshot_ids are being allocated and managed in two different places.

When I drop dera_num and then create it, a json file references a snapshot_id from just before 7AM:

[code]

But the table itself references a different snapshot_id:

[code]

The `2690580821138189265` number shows up in the Trino error message of my latest run:

[code]

What is surprising is that this bad be

[2022-04-01 17:41] MichaelTiemannOSC commented on #151
Poking around the data directory, I noticed that I selected a partition value that had more than 100 distinct values, but never for each batch I wrote via the SQL query.  So one potential solution is to keep my batch_size below the max number of open writers.

[2022-04-01 22:26] MichaelTiemannOSC opened #155 "Trino bindparam error (dera_tag2 table)"
After loading the sub2 and num2 tables, I attempted to load the tag2 table.

These values cause a problem because `:Provision` is interpreted as meaning something inside a string:

  ('ProvisionForIncomeTaxes', '0001552781-17-000597', True, True, 'monetary', 'D', 'D', 'Provision for income taxes', ':Provision for income taxes.', '2017q4')

Looks like we need to escape text in quotes better than we

[2022-04-02 11:05] MichaelTiemannOSC commented on #155
This is an osc_ingest_tools issue...closing here and opening there.

[2022-04-02 11:05] #155 closed

[2022-04-02 11:22] MichaelTiemannOSC commented on #154
https://github.com/apache/iceberg/issues/4472

[2022-04-02 12:26] MichaelTiemannOSC commented on #154
Could this be related: https://github.com/trinodb/trino-python-client/issues/95?  osc-ingest-tools does use fetchall (the workaround), but the fact that there are potential pathways in python to miss errors is concerning...

[2022-04-03 08:53] caldeirav opened #156 "Create sample data versioning on pachyderm"

[2022-04-04 11:13] MichaelTiemannOSC commented on #152
TIL that one should not treat partitions as synonymous with indexes: https://github.com/trinodb/trino/issues/11762

Because the Trino Iceberg connector does not support Spark DDL (which has commands like `ALTER TABLE ... DROP PARTITION FIELD` the only way to fix this appears to be to drop the table and try again.

[2022-04-04 11:36] MichaelTiemannOSC commented on #154
And now the Hive metastore seems to be down:

[code]

[2022-04-04 11:42] MichaelTiemannOSC opened #157 "Need more meaningful interfaces to Iceberg"
Iceberg's SQL-ish language (which include things like `ALTER TABLE ... DROP PARTITION FIELD`) cannot be used directly in Trino.  The three obvious options are:

1.  Add some kind of Spark instance that people can use when they need to fix things that cannot be fixed via Trino or Python
2. Enhance Trino to understand more of Spark DDL
3. Create a python library where commands can be translated to S

[2022-04-04 12:29] caldeirav commented on #157
I would not think having a second compute engine for Iceberg operation is the solution here. How would we ensure consistency in data access between Spark and Trino for example?

Could we start maybe by documenting in this issue the Iceberg operations that are required but not supported by Trino?

[2022-04-04 13:50] HumairAK commented on #154
@MichaelTiemannOSC guessing this is on osc-cl2 cluster. Will take a look after morning meetings.

[2022-04-04 13:55] HumairAK commented on #154
@MichaelTiemannOSC is this still the case? I see queries being ran/completing successfully.

[2022-04-04 21:51] MichaelTiemannOSC commented on #154
I received this info explaining how to clean up the mess from the trino/iceberg slack channel: https://trinodb.slack.com/archives/CJ6UC075E/p1649094031432789

[2022-04-05 13:45] erikerlandson commented on #154
JDBC catalog support could be huge
https://github.com/trinodb/trino/pull/11772

[2022-04-05 13:46] erikerlandson commented on #154
I'm interested in their prescription for removing files, because I'm pretty sure that wasn't working for me when I tried it.  Unless I was missing something

[2022-04-06 10:36] caldeirav commented on #151
As discussed with Michael, will use the sample https://github.com/os-climate/DERA-ingest-pipeline/blob/iceberg/notebooks/DERA-ingest.ipynb to work on partitioning and optimization of ingest.

[2022-04-06 10:40] MichaelTiemannOSC commented on #151
At present that file is using only a single quarter's worth of data, to keep its overall runtime reasonable.  As we get performance up, we can slurp all available data by reducing the restrictions on what it slurps:

One quarter: objects=source_bucket.objects.filter(Prefix='SEC-DERA/2017q4')

One year: objects=source_bucket.objects.filter(Prefix='SEC-DERA/2018')

Years 2020 and later: objects=sour

[2022-04-07 03:24] caldeirav commented on #119
Deployment done and have tested data versioning to work fine from the python client.

[2022-04-07 03:24] #119 closed

[2022-04-07 03:28] caldeirav commented on #44
@HumairAK is there a pattern / example I can follow to prepare such a page consolidating access to the different tools please? I'd like to build one for the Summit demo if possible.

[2022-04-07 03:33] caldeirav commented on #80
@HumairAK how feasible would it be to have the helm chart-based deployment on odh-cl2 done in coming days please? Metadata ingestion is ideally the last step we want to demo in the RH Summit presentation. @erikerlandson

[2022-04-07 16:37] rathiromil13 commented on #143
@erikerlandson my email is rathiromil13@gmail.com. I have not received credentials.env or any other file to access the repo.

[2022-04-07 22:31] erikerlandson commented on #143
@rathiromil13  you should be able to start with this file:
https://github.com/os-climate/os_c_data_commons/blob/main/docs/credentials.env

log into jupyterhub:
https://jupyterhub-odh-jupyterhub.apps.odh-cl1.apps.os-climate.org/

choose a notebook image (Elyra notebook image is good start)
once you are in, copy your `credentials.env` file.  fill in your username and token from the link listed in th

[2022-04-08 02:43] caldeirav commented on #80
@HumairAK Our initial plan was to have this available in Q1 so we are a bit behind. But if you can deploy this in first half of next week, this should be enough for me to showcase some of the metadata capabilities in the RH Summit demo and from there train our internal users starting end of April, so this would be great!

[2022-04-08 10:40] MichaelTiemannOSC commented on #154
I am tempted to follow the prescription of removing files because (1) it cleans up messy storage and (2) it may well force the issue of re-initializing the whole underlying storage for this instance if something goes really wrong.  But I'd prefer to just see the storage re-initialized so that there are not dangling metadata references and so that there are no extraneous files left lying around aft

[2022-04-08 15:06] caldeirav commented on #44
This looks very nice for cluster monitoring but I was more thinking about something a bit more "visual" like a dedicated landing page for OS-Climate community with the OS-Climate logo, access to key systems, token retrieval service, key documentation links from one single page. It should not prevent us from populating the info for OS-Climate in the operate-first cluster page though, i guess there'

[2022-04-11 14:17] caldeirav commented on #59
This monitoring facility is meant for compliance and audit purpose i.e. run reports against past data access and match them against compliance, look at data extraction patterns to work on performance optimisation, etc... The idea will be to ingest Trino query events into some sort of elastic database where data can be searched.

[2022-04-11 14:19] caldeirav opened #158 "OS-Climate Data Commons demo for Red Hat Summit"

[2022-04-11 14:21] caldeirav commented on #158
Working on an end-to-end demo of the platform that will be used as bonus session for Red Hat Summit but also can be shared in our community repository as an overview of the platform.

Demo plan at: https://docs.google.com/presentation/d/1NdNqOT47ucqvlSyPJ65exRt9PCqTb-1f6JfifhNHS-w/edit?usp=sharing

[2022-04-11 14:24] caldeirav opened #159 "Create a reference documentation and issue for expectations on stable cluster vs test cluster"

[2022-04-11 14:35] caldeirav commented on #90
The first use-case we want to implement will be based on the new ITR data pipeline. To be developed once the access rights capabilities are available on cluster 2, as per above issue.

[2022-04-13 01:06] caldeirav opened #160 "Deploy AMQ Streams on osc-cl2 to facilitate real-time data ingestion"

[2022-04-13 13:29] erikerlandson opened #161 "Create notebook image with pachyderm plugin"
https://docs.pachyderm.com/latest/how-tos/jupyterlab-extension/#adding-the-extension-to-your-jupyterhub-deployment-with-helm

As usual, there seems to be a disheartening amount of "assume ability to run container as root user" in the instructions

[2022-04-13 13:29] erikerlandson commented on #161
cc @HumairAK @caldeirav

[2022-04-13 23:46] erikerlandson commented on #161
https://github.com/os-climate/pachyderm-notebook-image/blob/main/images/pachyderm-notebook/Containerfile

[2022-04-14 03:55] erikerlandson commented on #161
Currently there is an issue with `fuse` requiring container to run as root:
https://github.com/pachyderm/pachyderm/issues/7508

[2022-04-14 07:56] andraNew opened #162 "Jupyterhub server fails"
I currently experiencing once more issue 121 that was resolved last time by  increasing from 2GB to 16GB the memory

![image](https://user-images.githubusercontent.com/62877651/150765527-973269c0-e383-4cbd-903b-7a876db89f5b.png)

[2022-04-14 07:58] andraNew commented on #162
@erikerlandson @MichaelTiemannOSC

[2022-04-14 08:38] JeremyGohBNP commented on #162
I am experiencing the same issues. I cannot start a server. Is there maintenance going on?

[2022-04-14 11:13] MichaelTiemannOSC commented on #162
I just tried creating a corp-data-pipeline notebook on CL1 and was succeesful.  I'll ask @HumairAK if he sees anything in the logs.

[2022-04-14 11:19] JeremyGohBNP commented on #162
We tried the AICoE-OS Climate Demo and it systematically fails

[2022-04-14 11:26] MichaelTiemannOSC commented on #162
Ah.  @MichaelClifford @harshad16  can either of you say more about the status of the AICoE-OS Climate demo configuration?  I see there was a change two days ago to jupyterhub config files that mention AICoE.

[2022-04-14 11:53] oindrillac commented on #162
cc: @chauhankaranraj @Shreyanand

[2022-04-14 12:32] caldeirav opened #163 "OSC-Platform-030: Alternative to LinkedIn DataHub - Deploy OpenMetadata"

[2022-04-14 12:43] caldeirav commented on #163
OpenMetadata (https://docs.open-metadata.org/overview/readme) is an alternative metadata management system that could potentially replace LinkedIn DataHub in our target architecture.

Install on kubernetes via Helm:
https://docs.open-metadata.org/deploy/deploy-on-kubernetes/run-in-kubernetes

Trino connector:
https://docs.open-metadata.org/integrations/connectors/trino

[2022-04-14 13:42] harshad16 commented on #162
a transitive dependent package: markupsafe has removed a function `soft_unicode` in version 2.1.0 https://github.com/pallets/markupsafe/blob/b341ea3c59218e25a8ce2c1c2c5ca885e315e41e/CHANGES.rst#version-210

the jijna2 package which is a transitive package of flask and jupyterlab, uses the function in version below 2.11.0 , we would have downgrade the markupsafe package, to fix this issue.

[2022-04-14 16:27] chauhankaranraj commented on #162
Hey folks, the `aicoe-osc-demo` image should now be fixed. I am able to spawn a JupyterHub pod on cl1 with that image, please let me know if the error is fixed for you or you're still running into this problem.

[2022-04-14 20:39] HumairAK commented on #80
I've gotten as far as installing the pre-requisite services, there are lot more tools involved here than I expected (kafka/es/mysql/neo4j etc.) and the way these are configured is new to me (requiring jobs to run to configure these with datahub). So this is taking longer than expected. I'm off Friday/Monday so I'll have to continue with this on Tuesday.

[2022-04-20 09:32] caldeirav commented on #82
Generic documentation and examples of pipelines to refer to:
https://github.com/elyra-ai/examples

[2022-04-20 10:58] caldeirav opened #164 "Create a DB connection for Trino in Superset on odh-cl2"

[2022-04-20 11:04] caldeirav commented on #164
In the new superset install accessible at https://superset-secure-odh-superset.apps.odh-cl2.apps.os-climate.org/ , I need to define a connection to Trino (trino-secure-odh-trino.apps.odh-cl2.apps.os-climate.org:443) preferably with admin and ability to Impersonate logged in user (caldeirav) for access rights reasons.

@HumairAK Could you point me to how this is done?

[2022-04-20 11:13] caldeirav opened #165 "Trino ingestion fails with InvalidRequestError: A value is required for bind parameter"

[2022-04-20 11:14] caldeirav commented on #165
my insertion notebook fails after inserting a few hundred samples, with the exception: A value is required for bind parameter 'Unit' (Background on this error at: https://sqlalche.me/e/14/cd3x)"

Notebook: https://github.com/os-climate/data-platform-demo/blob/master/notebooks/gppd_ingest_2_load_data_trino.ipynb

[2022-04-20 11:20] MichaelTiemannOSC commented on #165
There's a patch here that's not yet a PR (because waiting on executemany support in Trino to make obsolete): https://github.com/os-climate/osc-ingest-tools/edit/mdt-patch/osc_ingest_trino/trino_utils.py

Look at sqlform for text.

[2022-04-20 13:57] HumairAK commented on #164
can I get a lgtm on: https://github.com/operate-first/apps/pull/1913

I can't seem to locate these creds, so changing up the psw. Going to use this account to login to trino from superset.

[2022-04-20 14:28] caldeirav commented on #164
This issue has been fixed with https://github.com/operate-first/apps/pull/1913

[2022-04-20 14:28] #164 closed

[2022-04-21 15:42] erikerlandson opened #166 "integrate hashicorp Vault or other KMS"

[2022-04-21 21:55] erikerlandson commented on #165
closed by https://github.com/os-climate/osc-ingest-tools/issues/27

[2022-04-21 21:55] #165 closed

[2022-04-22 12:19] MichaelTiemannOSC opened #167 "Trino 373-378 suffers JDBC AND/OR evaluation error"
This fixed a problem introduced in 373: https://github.com/trinodb/trino/commit/365aa9a194988d43375816d999fd64414e15d6bb

Not urgent to fix, but if we see strange behavior of OR clauses mixed with AND clauses that rely only on operator precedence (not parentheses), could be why.

[2022-04-22 21:43] erikerlandson commented on #135
I re-tested this and it seems to be working correctly.  It is likely that I corrupted my previous tests by forgetting to restart the trino coordinator after updating the rules.  One other (less likely) possibility is that it is due to recent upgrade to trino-373.

[2022-04-22 21:43] #135 closed

[2022-04-25 13:31] caldeirav commented on #156
Sample produced and included in the RH Summit demo: https://github.com/os-climate/data-platform-demo/blob/master/notebooks/gppd_ingest_1_extract_data_pachyderm.ipynb

[2022-04-25 13:31] #156 closed

[2022-04-25 14:01] caldeirav commented on #158
Demo and recording delivered

[2022-04-25 14:01] #158 closed

[2022-04-25 14:15] eoriorda commented on #130
When is our next meeting with LSEG - @ Heather

[2022-04-25 14:32] eoriorda commented on #98
Calculate quota increase and look at needs .  Airbus will decide to move based on capacity and requirements and access control. Aribus are still looking at the components and how they are deployed.  Internal work right now , not ready to run models. When they are ready to run multiple models they will need to move stable.  Decision on the "tobe " stable environment are still being made. Is it exlu

[2022-04-25 17:15] HeatherAck commented on #130
@eoriorda - the team met with LSEG this past Friday (22-Apr) at 11:30AM ET, re: the recent data vault proposal.  I was off - so don't know outcome, but I don't think what @MichaelTiemannOSC describes as a requirement "[better org structure/naming conventions/search capabilities] or a place we can go inside of Trino to quickly find not just the names of schemas and tables, but pointers back to the

[2022-04-29 13:25] MichaelTiemannOSC opened #168 "Trino 380 has much to offer"
Iceberg 379 has a number of Iceberg enhancements that seem relevant to our work, in particular:

https://trino.io/docs/current/connector/iceberg.html#expire-snapshots (378)
https://trino.io/docs/current/connector/iceberg.html#delete-orphan-files (378)
https://trino.io/docs/current/connector/iceberg.html#row-level-deletion
https://github.com/trinodb/trino/issues/12055

Let's keep an eye on it as a

[2022-04-29 16:45] erikerlandson commented on #162
Can we close this issue?

[2022-04-29 16:48] erikerlandson opened #169 "memory options are not appearing in the JH launcher menus"
I'm creating this issue to track the JH menu problem

[2022-04-29 17:15] MichaelTiemannOSC commented on #162
After this merge I went back to the JupyterLab hub server, and was immediately given the options I needed to start my notebook correctly.  Thanks!

[2022-04-29 17:15] #162 closed

[2022-04-29 18:07] MichaelTiemannOSC commented on #162
I wrongly closed this issue, which is against `aicoe-osc-demo`, a notebook configuration that I don't use.  I thought it was fixing a different issue (https://github.com/operate-first/apps/issues/1918), which I also closed.  If this issue remains a problem, please reopen!

[2022-05-02 00:42] MichaelTiemannOSC opened #170 "0/13 nodes available...what does that mean?"
This is the event log from my recent attempt to start a single-CPU 8GB RAM Jupyter Notebook:

[code]

The startup seems to be making no progress.  Do I need to wait forever?  Things had otherwise been working well this weekend...

@erikerlandson @caldeirav

[2022-05-02 00:43] MichaelTiemannOSC commented on #170
![Screen Shot 2022-05-01 at 8 42 48 PM](https://user-images.githubusercontent.com/72577720/166171825-e12f46cc-4adf-4e55-a277-2da2fc5f96e4.png)

[2022-05-02 00:57] MichaelTiemannOSC commented on #170
I decided to revisit the launch page and the notebook server gave me what I asked for without a fuss.  No idea why the previous request was wedged for 20 minutes...

[2022-05-02 00:57] #170 closed

[2022-05-02 12:15] erikerlandson commented on #170
cc @redmikhail

[2022-05-02 14:47] redmikhail commented on #170
@MichaelTiemannOSC Based on the timestamp when issue has been created, you have hit exact time when node  dedicated to host non-gpu notebooks was restarting due to Openshift update. As we don't have a lot of notebooks on odh-cl2 at the moment, only one node is currently dedicated to non-gpu notebook workload. We would like to avoid running additional nodes (more of the cost saving) to just provide

[2022-05-06 03:03] caldeirav commented on #80
@HumairAK @redmikhail We need your help please to assess how feasible this deployment is, and if additional resources / help is required. Have also proposed an alternative at #163 which may be easier to setup.

[2022-05-06 14:48] MichaelTiemannOSC opened #171 "Please stage Superset 1.5 for evaluation"
This enhancement alone looks very nice: https://github.com/apache/superset/pull/17917

We are currently running 1.3.2 on CL2, which is now quite old.  Given that we have other Superset problems to solve, would be nice to have a current 2022 baseline.

https://pypi.org/project/apache-superset/1.5.0/

[2022-05-06 15:50] erikerlandson opened #172 "Superset queries are failing for Mutlu"
@mersin35  is experiencing puzzling failures when he tries to run Superest queries in the sql lab:

From the Superset side, they look like this:
![image](https://user-images.githubusercontent.com/259898/167167520-be35685b-449c-49d4-8426-b331e14f7c49.png)

If you look at the actual queries being sent to Trino, the source of failure is even stranger:
![image](https://user-images.githubusercontent.co

[2022-05-06 15:58] erikerlandson commented on #172
At the time I write this, several other people have successfully run queries: so far only Mutlu is experiencing this particular behavior. Tentatively this has something to do with Mutlu's environment.

[2022-05-09 14:37] eoriorda commented on #81
See can this be part of Operate first

[2022-05-09 14:39] eoriorda commented on #172
Can Mutlu try on a different machine or browser

[2022-05-09 14:42] eoriorda commented on #90
Use case was demonstrated and access rights were resolved on Trino .

[2022-05-09 14:43] eoriorda commented on #90
Use case was demonstrated and access rights were resolved on Trino .

[2022-05-09 14:43] #90 closed, assigned to erikerlandson, caldeirav

[2022-05-09 19:12] MichaelTiemannOSC commented on #168
Trino 380 adds support (?) for direct Parquet -> ORC reformatting.

[2022-05-09 19:14] MichaelTiemannOSC commented on #157
Seems like the Trino connector has made a ton of progress in this space that makes this generic request less pressing.  Will open new cases when new specific limitations appear.

[2022-05-09 19:14] #157 closed

[2022-05-09 19:16] MichaelTiemannOSC commented on #154
Problem seems to have gone away and not come back after refreshing CL2.

[2022-05-09 19:16] #154 closed

[2022-05-09 21:03] erikerlandson commented on #168
I have built: `quay.io/os-climate/trino:380`

[2022-05-10 08:22] MichaelTiemannOSC commented on #140
@SiLeBa please close this issue if you have confirmed the rights are working for you.  Thanks!

[2022-05-10 21:34] MichaelTiemannOSC opened #173 "Superset certs show clock skew problem"
I cannot access SuperSet on CL2 using the well-known link from the Developer Resources page that was working for me this morning: https://superset-secure-odh-superset.apps.odh-cl2.apps.os-climate.org/

<img width="926" alt="Screen Shot 2022-05-10 at 5 29 26 PM" src="https://user-images.githubusercontent.com/72577720/167725306-1487f562-e594-4b6d-8473-d816680c94f2.png">

Others were having different

[2022-05-11 04:15] redmikhail commented on #173
@MichaelTiemannOSC Unfortunately previous certificate has expired , it was renewed . Should be working now

[2022-05-12 14:10] caldeirav opened #174 "Review baseline deployment of Egeria"

[2022-05-12 14:33] caldeirav opened #175 "Build a public download access for PCAF results"
We need a way to make the results from https://github.com/os-climate/PCAF-sovereign-footprint pipeline downloadable by members. It was suggested these could be loaded into ASDI and we have a web link for members to download the data from the public S3 bucket.

[2022-05-13 07:56] MichaelTiemannOSC commented on #174
Adding link to metadata manager: https://egeria-project.org/patterns/metadata-manager/overview/

[2022-05-14 08:02] MichaelTiemannOSC commented on #168
Thanks for getting this installed.  I did some investigation, and everything seems to work fine, but not as I expected.  I was expecting that changing the table format would rewrite data in the old format into data in the new format.  Instead what happens is it merely changes how new data is written.  Changing back and forth as I inserted rows simply created a series of .orc and .parquet files in

[2022-05-14 08:02] #168 closed

[2022-05-14 22:37] MichaelTiemannOSC commented on #153
Well, my investigations thus far lead me to the following conclusions:
* The Trino community is pretty adamant about not letting users screw themselves with respect to implementing their own file management along side Trino's own file management.  That's not to say that osc-ingest-tools cannot do some interesting things carefully, but we absolutely don't want to encourage users to proliferate rand

[2022-05-18 14:59] SKZHA opened #176 "Access Request for Data Commons platform"
I would like to have access to Data Commons platform.
FYI. I've been added to developper teams as well as odh-env-users.

My email : shikang.zhao@bnpparibas.com

[2022-05-19 15:54] SKZHA commented on #176
Hey @erikerlandson,
Newly onboarded on os-climate, I hope you can help me to get access to data commons platform.
Please tell me if you need more information. Thanks!

[2022-05-19 16:32] HumairAK commented on #166
can we get more information here, what sort of usecase/stories need to be satisfied?

[2022-05-20 13:26] MichaelTiemannOSC opened #177 "Cutting through data thicket (PCC Large Parts Campus example)"
Here is a single facility of interest that's listed in the EPA GHGRP database (and reported as owned by Berkshire Hathaway):

https://frs-public.epa.gov/ords/frs_public2/fii_query_detail.disp_program_facility?p_registry_id=110000487241

What this single record reveals are the many, many ways this single entity is identified by and overlaps with other databases and reporting systems.  The instant p

[2022-05-21 14:44] durandom commented on #44
@HumairAK can we open an issue in the ODH community and figure out why we can't use the ODH dashboard?

[2022-05-21 14:56] HumairAK commented on #44
@durandom we have brought this up sometime ago, and did so again in their slack recently. the reason is because we deploy components in different namespaces and this is not supported. We also want to be able to show services _not_ in ODH, which is also not currently supported (and I'm not sure if it will be).

[2022-06-02 22:38] erikerlandson opened #178 "update jupyterhub images to latest"
We have a few JH images that still have python 3.6, and they also don't have the latest `%horus` magic from thoth.

![image](https://user-images.githubusercontent.com/259898/171749653-917544d5-d10c-4537-9808-c5920f8e7f46.png)

[2022-06-06 15:38] eoriorda opened #179 "DCO - As a user I want to be able to validate that all source code in an OSC respository has been signed off with a DCO"

[2022-06-06 15:39] eoriorda commented on #179
Here's my sad story about the DCO:

https://github.com/os-climate/ITR/pull/109

Folks from LF have agreed to have a look at it.  I tried adding a signoff manually at the end of the commit message, but somehow that's not yet enough to make the robots happy.

M

The structure of world peace cannot be the work of one man, or one
party, or one nation...it must be a peace which rests on the cooperative

[2022-06-07 18:12] HumairAK commented on #178
can this be closed? @erikerlandson

[2022-06-07 18:49] erikerlandson commented on #178
The lab-elyra image update is finished, and I can now run `%horus`.  I was going to keep this open for @harshad16 because he mentioned upgrading all the images, however if he wants to track that differently I am Ok to close this.

[2022-06-07 18:50] HumairAK commented on #178
will keep it to the discretion of @harshad16 then, thanks @erikerlandson

[2022-06-07 18:54] harshad16 commented on #178
oh lets keep this open
i m updating the python 3.6 minimal image as well
it would have the jupyterlab-requirements and with that, we can close this.

[2022-06-20 01:28] caldeirav commented on #163
OpenMetadata is up and running on cluster 2 (https://openmetadata-openmetadata.apps.odh-cl2.apps.os-climate.org/services) and first test ingestion pipeline has been executed successfully.

[2022-06-20 01:28] #163 closed

[2022-06-20 01:29] caldeirav commented on #80
Moving this back out of our queue as OpenMetadata has been installed, so it may not be required anymore.

[2022-06-20 01:39] caldeirav commented on #38
Now we have OpenMetadata up and running with Superset dashboard integration, we can start working on an integrated dashboard for this requirement.

[2022-06-20 01:53] caldeirav opened #180 "Cannot connect to Trino database via CloudBeaver service on OSC-CL2"

[2022-06-20 01:54] caldeirav commented on #180
When connecting into trino-secure-odh-trino.apps.odh-cl2.apps.os-climate.org from CloudBeaver, we get an Invalid Credentials exception:"

SQL Error: Authentication failed: Access Denied: Invalid credentials

[2022-06-21 19:08] HumairAK commented on #180
@caldeirav can you try again? (trino password was incorrect for some reason)

[2022-06-21 19:11] HumairAK commented on #38
@caldeirav they just need to log in. That will create the user, then you should be able to add them to the team.

[2022-06-22 01:55] caldeirav commented on #180
@HumairAK it's all working fine now, thanks!

[2022-06-22 01:55] #180 closed

[2022-06-22 15:23] caldeirav commented on #160
Adding @bryonbaker into the loop on this as he will be the first consumer.

[2022-06-24 17:21] HeatherAck commented on #171
adding @MightyNerdEric and @rynofinn to thread to see if one of them can support this request

[2022-06-26 13:30] caldeirav opened #181 "Manage data transformation through DBT model for automated lineage"

[2022-06-26 13:33] caldeirav commented on #181
OpenMetadata provides automated lineage through DBT integration: https://docs.open-metadata.org/data-lineage/dbt-integration

This issue is for testing this approach and evaluate DBT for our automated versioning, as preferred to Pachyderm, since we follow an ELT model and therefore we can manage all data transformation steps in Trino.

@erikerlandson @HeatherAck @MichaelTiemannOSC

[2022-06-27 11:40] caldeirav opened #182 "Review and test Trino TileDB Connector"

[2022-06-27 11:42] caldeirav commented on #182
The TileDB connector allows running SQL on TileDB arrays via Trino: https://github.com/TileDB-Inc/TileDB-Trino

Based on physical risk stream requirements, assess whether this is required and our ability to deploy the connector on OSC-Cluster2.

[2022-06-28 21:19] MightyNerdEric commented on #171
@HeatherAck We do not have the knowledge to help out with this at this time. In fact, if someone can help us fully understand this request (what's needed, who implements it, how it's implemented), it would be an excellent training opportunity for us.

[2022-06-29 09:59] MichaelTiemannOSC commented on #171
I have set up Trino, SuperSet, and JupyterHub on my own desktop computer using standard images supplied by the respective projects.  They are each packaged in a way that's easy for a developer to do so, in part because the respective projects have a good idea of the parameters of a desktop (or Docker) based deployment (including the concept of authorization/authentication of a well-known users, su

[2022-06-29 10:09] MichaelTiemannOSC commented on #171
TIL that SuperSet 2.0.0 will move away from deprecated sqlalchemy-trino library.  This will make it consistent with the rest of the OS-Climate standards and thus suggests that the 1.5.x migration would be more of a training mission, whereas 2.0.0 would bring true harmony to our world.

https://github.com/apache/superset/pull/19957

[2022-06-29 10:24] caldeirav commented on #160
@redmikhail Could you let us know when we could potentially get this installed on cluster 2 please?

[2022-06-29 10:26] caldeirav commented on #49
Metadata ingestion and versioning of data sets was demonstrated on OpenMetadata which will now become our unified metadata store for pipeline and business metadata. Will close this with successful ingestion of metadata done for cluster 2, and move on to open more detailed issues on additional work to be done to enable automated lineage with Airflow and DBT integration.

[2022-06-29 10:26] #49 closed

[2022-06-29 10:39] MichaelTiemannOSC commented on #178
Elsewhere I've suggested simply dropping Python 3.6: https://github.com/operate-first/apps/issues/2009

So many of the packages I track are removing support for it.  I think we are asking for trouble supporting anything earlier than Python 3.8.  It might even make sense to set a target for what version of Python we expect to support by the end of the year.

[2022-06-29 11:03] MichaelTiemannOSC opened #183 "Onboard ESSD dataset using Open Metadata"
The ESSD dataset (s3://redhat-osc-physical-landing-647521352890/ESSD/) can be an exemplar for Open Metadata onboarding.  The dataset comes with data dictionaries, and there is a iceberg data pipeline notebook at https://github.com/os-climate/essd-ingest-pipeline/blob/iceberg/notebooks/osc-essd-ingest.ipynb.

As a data pipeline implementor, I want to work from a common template that describes the m

[2022-06-29 21:46] erikerlandson commented on #178
FWIW, I agree we should avoid exposing any py3.6 images.  The python ecosystem makes this issue complicated, but more things break with py < 3.8 than work.

[2022-07-01 20:37] erikerlandson opened #184 "Get OSC deployments of trino working on version 388 and beyond"
I tried upgrading trino to version 388 this morning and broke trino on both osc1 and osc2 clusters.  Worse yet, CL2 is running trino 380 but CL1 crashes with 380 and is running 373.

We need to:
- get both clusters onto same version
- get the deployments running with latest (currently 388) to pick up new features and bugfixes we need.

[2022-07-01 20:39] erikerlandson commented on #184
Here are trino coordinator logs from cl1 and cl2 I extracted while they were crashlooping:

[trino-coordinator-5fc849d755-pbg4b-trino-coordinator.log](https://github.com/os-climate/os_c_data_commons/files/9031454/trino-coordinator-5fc849d755-pbg4b-trino-coordinator.log)
[trino-coordinator-69cdb6ffd4-kjb2l-trino-coordinator.log](https://github.com/os-climate/os_c_data_commons/files/9031455/trino-co

[2022-07-01 20:42] erikerlandson commented on #184
cc @MichaelTiemannOSC @caldeirav @HumairAK @rimolive

[2022-07-01 20:45] MichaelTiemannOSC commented on #184
That would explain all the troubles I've been seeing trying to complete a simple notebook run on either CL1 or CL2.  Thanks!

[2022-07-04 14:19] caldeirav opened #185 "Add DBT for data transformation on OSC Cluster 2"

[2022-07-04 14:23] caldeirav opened #186 "Retirement of OSC Cluster 1"

[2022-07-04 14:24] caldeirav commented on #186
This issue is used to track activities towards the retirement of cluster 1 including migration of pipelines.

[2022-07-04 16:00] MichaelTiemannOSC commented on #186
For starters, here are the notebooks that reference CL1.  These notebook references should be replaced by tracker issues as they are created:

- [ ] aicoe-osc-demo (demo1, demo2, demo3): https://github.com/os-climate/aicoe-osc-demo/issues/169
- [ ] ./data-platform-demo/notebooks/trino-iceberg-ingestion.ipynb:1
- [ ] ./data-platform-demo/notebooks/itr-ingest-raw-emissions.ipynb:1
- [ ] ./data-platf

[2022-07-04 23:06] redmikhail commented on #160
@caldeirav I will try to have it by Thursday. I would imagine we want to use Strimzi which is upstream project for AMQ Streams?

[2022-07-05 02:52] caldeirav commented on #160
@redmikhail Yes, agree we should go with a Strimzi setup. And Thursday would be great. @bryonbaker please note as we can then setup the FX service there as well

[2022-07-05 09:34] caldeirav opened #187 "Deploy IBM Fybrik on OSC Cluster 2"

[2022-07-05 09:44] caldeirav commented on #148
Currently access controls on Cluster 2 limit creation of schemas and sandbox / demo_dv seem to have a growing number of tables. Is the lack of access to schema preventing the migration of pipelines from cluster 1?

What I propose is we should:
- Come up with a list of all data pipelines we need to transition to the cluster (as part of the migration process tracked in #186)
- Each pipeline should h

[2022-07-06 13:52] caldeirav opened #188 "Create a Google account for OS-Climate to setup a data exchange with RiskThinking.ai"

[2022-07-06 13:52] caldeirav commented on #188
We need to create a Google Cloud account to trial the integration of RiskThinking.ai datasets through a BigQuery data exchange via

[2022-07-13 15:40] erikerlandson opened #189 "Hive catalog on CL2 for scalable data ingest"
Ingest of data directly into trino iceberg catalogs is inefficient[1], however, it is fast to ingest parquet data directly into a hive catalog, and then do an "insert from" the hive -> iceberg table.  However, to support this we need a hive catalog backed by an S3 bucket[2].  CL2 currently does not have such a catalog, and so we'll need to declare one.
xref https://github.com/os-climate/osc-ingest

[2022-07-14 01:43] caldeirav opened #190 "Deploy Kepler on OS-C Cluster 2"

[2022-07-14 02:11] caldeirav commented on #190
We want to setup Kepler (https://github.com/sustainable-computing-io/kepler) as a way of observing / tracing energy utilisation metrics for our own cluster. This will serve two purposes:
- Running example of data mesh integration pattern for real-time / streaming data.
- Demonstration of our recommended approach towards building observability for sustainable IT, showing members how they can start

[2022-07-17 09:34] caldeirav commented on #160
This is required so we can plug the data from #190

Adding @rootfs for information.

[2022-07-18 14:01] Mohammad-nassar10 commented on #187
Hi @HumairAK, can we set a meeting for working on the deployment of Fybrik on OS Climate cluster?
@roytman

[2022-07-18 14:16] eoriorda commented on #51
This is dependent on a feature enhancement with Open Metadata
 https://github.com/open-metadata/OpenMetadata/issues/5492 which would build meta data from a Trino instance .
Workaround is still being tested . Vincent will open an issue for this .

[2022-07-18 14:20] eoriorda commented on #172
@mersin35  Can you let us know if this is still occuring for you.

[2022-07-18 14:35] eoriorda commented on #98
Discuss with Heather how to transition this to LF team. Eileen to discuss with Heather.

[2022-07-18 18:29] HeatherAck commented on #98
Hi @eoriorda, we should include @rynofinn and @MightyNerdEric in the planning.  If Red Hat team can provide documentation on how the environment is set up, we can determine what knowledge transfer is needed to support transition

[2022-07-20 02:58] caldeirav opened #191 "OS-Climate user bryonbaker requires Full Developer access to OSC-Cluster2"

[2022-07-20 02:59] caldeirav commented on #191
In order to perform Kafka configuration steps for our real-time FX component, user bryonbaker requires full developer access toe the cluster.

[2022-07-20 03:13] caldeirav commented on #185
Focusing initially on dbt-trino install via pip (https://pypi.org/project/dbt-trino/). This means we will likely want to include the python lib into a custom image we use for data pipelines which becomes the standard for OS-Climate data pipelines.

[2022-07-20 14:10] HumairAK commented on #191
Please advise on the namespaces where access is required. I have set up a role [here](https://github.com/operate-first/apps/pull/2162/files#diff-9c377188726a59920d7fbe46e68a7d0f9c6a3228d22e210af1234f9438511502R1-R29) which I think ought to be sufficient, with read permissions on the strimzi operator namespaces for log inspection (can be elevated to admin if needed). This will allow for any project

[2022-07-20 14:19] caldeirav commented on #191
I believe @redmikhail created a namespace called "kafka" so we can use this one for the deployment, if not, then let's just create a new one. May this access also be extended to me as backup please as I will need to create some resources for kepler?

[2022-07-20 15:38] HumairAK commented on #191
@bryonbaker and @caldeirav can you check if you can access and see resources in:
https://console-openshift-console.apps.odh-cl2.apps.os-climate.org/k8s/ns/kafka/pods

And if you can get kafka resources e.g. `oc get kafka -n kafka`

[2022-07-21 02:35] bryonbaker commented on #191
@HumairAK - I have access to the Kafka project thank you. I was able to successfully create and delete a sandpit kafka cluster in the project.
Can I please create a dev/sandbox project for testing the deployment of the app that will integrate with the Kafka Cluster? Just call is "markets-svc-dev"

[2022-07-21 15:46] HumairAK commented on #191
@bryonbaker done, can you confirm you can access: https://console-openshift-console.apps.odh-cl2.apps.os-climate.org/k8s/ns/markets-svc-dev/pods

[2022-07-22 13:23] bryonbaker commented on #191
Yea thanks. All working fine

On Fri, 22 Jul 2022 at 1:46 am, Humair Khan ***@***.***>
wrote:

--

==========================
Bryon Baker
Ph.: +61(0)457531202
Email: ***@***.***

[2022-07-22 14:24] erikerlandson commented on #160
@bryonbaker  if you have access to kafka (#191) does that complete this issue?

[2022-07-23 00:07] bryonbaker commented on #160
Yea. The issue can be close now thank you.

On Sat, 23 Jul 2022 at 12:24 am, Erik Erlandson ***@***.***>
wrote:

--

==========================
Bryon Baker
Ph.: +61(0)457531202
Email: ***@***.***

[2022-07-23 01:47] #160 closed

[2022-07-23 14:31] rootfs commented on #190
ping @HumairAK @mikelmaron

[2022-07-23 17:44] MichaelTiemannOSC commented on #191
Seems this is all done.

[2022-07-23 17:44] #191 closed

[2022-07-23 17:50] MichaelTiemannOSC commented on #186
I suggest we delete/archive data-platform-demo/notebooks/itr-* as (1) they are very old, demonstrating usage of a very early version of osc-ingest-tools functionality, (2) the sample data is a public slice of a proprietary dataset that is not presently available in any meaningful way in the Data Commons.  @erikerlandson are you OK with that?

[2022-07-23 17:55] MichaelTiemannOSC commented on #176
@SKZHA I think you have been successfully using the credentials granted, so closing this issue.  If not, please re-open and we'll address.

[2022-07-23 17:55] #176 closed

[2022-07-23 17:58] MichaelTiemannOSC commented on #169
I think this is the root issue for the above problem: https://github.com/operate-first/apps/issues/1918

[2022-07-24 02:54] caldeirav opened #192 "Deploy Prometheus Kafka adapter on OSC-Cluster 2"

[2022-07-24 02:57] caldeirav commented on #192
In order to federate Kepler data with Data Commons, we plan to use the Strimzi cluster to capture real-time events generated by Kepler via Prometheus. This will require the installation of a Prometheus Kafka Adapter to publish the Prometheus data to Strimzi. The open source adapter that is recommended for this is: https://github.com/Telefonica/prometheus-kafka-adapter

@rootfs for your information

[2022-07-25 05:29] caldeirav opened #193 "Add kafka topic FX to Trino catalog on OSC-Cluster2"

[2022-07-25 05:33] caldeirav commented on #193
We need to setup the Kafka connector to the existing Kafka topic FX in order for Trino to be able to query FX streams. Setup instructions at:
https://trino.io/docs/current/connector/kafka.html
https://trino.io/docs/current/connector/kafka-tutorial.html

@bryonbaker a topic description file will be required for this

[2022-07-25 17:01] eoriorda commented on #82
@erikerlandson  Is this something you are actively working on do you need clarity .

[2022-07-25 17:05] eoriorda commented on #98
@HeatherAck Develop a plan for the stable instance environment.
When will Airbus be fully operational and PRR would be the next up to migrate to the stable instance.

[2022-07-26 13:17] caldeirav commented on #187
Reference to deployment instructions: https://github.com/fybrik/fybrik/tree/master/integration/operate-first

[2022-07-26 19:04] HeatherAck commented on #188
Johnson Nguyen at LF is in the process of creating the Google account.  I've invited him to our GitHub:  jnguyen@linuxfoundation.org

[2022-07-26 19:07] sternb0t commented on #188
Happy to help where I can on this one!

[2022-07-28 15:18] HeatherAck commented on #40
new count is 75K (we will receive updated versions of the original ~8500).  Related LF Jira:  https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24329

[2022-07-29 17:27] HeatherAck commented on #40
Updated info for S&P Global docs:

URL: sftp://edx.spglobal.com/Products/ESGFilings

Port: 22

ESGD5020

27wr0N$,i

[2022-07-30 06:42] caldeirav commented on #185
DBT deployment has been successfully done in https://github.com/os-climate/wri-gppd-ingestion-pipeline and the ingestion via DBT has been integrated successfully with OpenMetadata. Will proceed to complete the pipeline now and document the approach. @MichaelTiemann @erikerlandson

[2022-07-30 06:42] #185 closed

[2022-07-30 06:43] caldeirav commented on #181
DBT deployment has been successfully done in https://github.com/os-climate/wri-gppd-ingestion-pipeline and the ingestion via DBT has been integrated successfully with OpenMetadata. Will proceed to complete the pipeline now and document the approach. @MichaelTiemann @erikerlandson

[2022-07-30 06:43] #181 closed

[2022-07-30 06:44] caldeirav commented on #193
This has been completed and we now have an FX topic with simulated (but realistic) rates being published.

[2022-07-30 06:48] caldeirav commented on #51
I have managed to workaround the Trino metadata ingestion limitation (in the connector) by using Trino ingestion for loading but going through DBT for transformation and metadata ingestion.

Example in https://github.com/os-climate/wri-gppd-ingestion-pipeline will be documented as a result.

@MichaelTiemann the idea is users will be able to perform data discovery (including data sample) through Op

[2022-07-30 06:48] #51 closed

[2022-07-31 05:40] bryonbaker commented on #193
@caldeirav - is the topic file still required?
Also, note that the FX topix is on a test stream.

[2022-07-31 08:18] caldeirav commented on #193
Yes we still need the topic file for @HumairAK to setup the connector as per above. We can test the Trino config with any topic at this point.

[2022-08-01 02:42] bryonbaker commented on #193
@HumairAK - do you need the topic file before you can set up the connector? Or can it be set up and we add the topic file?
Vincent needs this set up for a presentation next week so we need to get a move alone.

[2022-08-01 11:29] MichaelTiemannOSC commented on #138
Re-opening because @mersin35 has just encountered yet another SSL expiration.  Please let's do automate this (on all clusters that ODH users have access to).

@rynofinn @MightyNerdEric @grigarr

[2022-08-01 18:24] HeatherAck commented on #138
I created a ticket with LF Team: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24355

[2022-08-03 00:13] MightyNerdEric commented on #188
We have the account set up. We can add owners and users to make use of the services. Costs will be billed to The Linux Foundation and passed through to the OS-Climate project.
Please email details on which Google accounts need access to eball@linuxfoundation.org.

[2022-08-03 14:32] HumairAK commented on #138
More details on how certs are being handled for services.

We use the [acme-operator](https://github.com/tnozicka/openshift-acme) as mentioned before to manage certs for ocp routes.

You can find the operator running [here](https://console-openshift-console.apps.odh-cl2.apps.os-climate.org/k8s/ns/acme-operator/pods).

It claims:

But clearly that is not what's happening here, so first task would b

[2022-08-03 15:28] HeatherAck commented on #188
Thanks Eric.  @caldeirav Can you please share the specifics?

[2022-08-03 18:38] rynofinn opened #194 "clean up and rotate leaked credentials"
On Oct 20, 2021 there was a commit to corporate-data-pipeline containing aws credentials to multiple buckets.
As this repo is private, the commit was not immediately scanned and flagged.

Below is the text of a request created in LF Jira for support, but that ticket is not visible to all parties that will be taking action.
Please rotate credentials for account  647521352890

Please rotate keys for

[2022-08-03 21:43] MightyNerdEric commented on #194
Edited to remove the link. Github has a habit of caching diff pages like that, so even once it's cleaned up, that page may remain for those with a direct link. I've been through this before; I had to email them directly to have them clean up the cached diff. Shouldn't be an issue since it's a private repo, but lets call it a best practice not to post direct links to the diff containing the credent

[2022-08-04 00:24] bryonbaker commented on #193
I have written the kafka schema definition file:
https://github.com/bryonbaker/markets-pricing-service/blob/main/config/trino-schema.json

@HumairAK - can yu please get this all configured asap?

[2022-08-04 21:08] HumairAK commented on #193
Please see: https://github.com/operate-first/apps/pull/2227
And advise -- thanks.

[2022-08-06 00:36] bryonbaker commented on #193
@HumairAK - thanks very much. I think there is one thing left. There is a json file that needs to be mounted in trino. I had the link above to the file above. I have converted that to a config map (see below). That needs to be mounted at the correct place for Trino to find.

The documentation indicates that we need a property to describe where the table definition files are: https://trino.io/docs/

[2022-08-07 10:12] MichaelTiemannOSC commented on #172
Closing as stale.

[2022-08-07 10:17] MichaelTiemannOSC commented on #171
Updated request to stage SuperSet 2.0 for evaluation, which was released July 14th: https://apache-superset.slack.com/archives/CH307T4JG/p1657826078396289

[2022-08-07 10:20] MichaelTiemannOSC commented on #161
Is this issue now satisfied by https://github.com/os-climate/wri-gppd-ingestion-pipeline/blob/master/notebooks/wri-gppd-02-loading.ipynb ?

[2022-08-07 10:22] #173 closed

[2022-08-07 10:24] MichaelTiemannOSC commented on #178
Can we drop the py3.6 images and close this out?

[2022-08-07 10:42] MichaelTiemannOSC opened #195 "OpenMetadata 0.11.4 release?"
The OS-Climate community is poised to start retooling ingestion pipelines to use DBT and OpenMetadata.  Version 0.11 seems to offer many lineage enhancements over 0.10.  Looking at the release logs, 0.11.4 seems to be a very small (cherry-picked) update to 0.11.3, suggesting that things are relatively quiet after several fixes implemented in 0.11.3.

@caldeirav

[2022-08-07 10:50] MichaelTiemannOSC commented on #184
Latest Trino is 392.  Has this issue been sorted?

[2022-08-07 18:55] #193 closed

[2022-08-07 19:04] HumairAK commented on #193
the `my-kafka` cluster has been successfully configured with trino, and the table schema has been added. I made some additional changes to the schema to get it working, since `currency` and `base_currency` fields are repeated twice (once in `key` and once in `message` which introduced a column creation conflict.

The kafka cluster is configured [here](https://github.com/operate-first/apps/blob/mas

[2022-08-07 20:37] bryonbaker commented on #193
@caldeirav - It has all been set up. Can you give it a test?

@HumairAK - thank you very much!

[2022-08-08 12:50] caldeirav commented on #161
No but the plugin is not a big priority for us right now since we are already using the primary function of pachyderm through the Python APIs anyway.

[2022-08-09 17:20] redmikhail commented on #186
While majority of the active development should happen on osc-cl2. There is argument to be made that we may want to keep cluster one for new platform/tool testing in scale-down format. As part of it once all pipelines will be migrated we may want to upgrade and sync it with cluster 2

[2022-08-09 17:30] eoriorda opened #196 "Security incident - Handling"
Whats a better mechanism if someone reports an incident .  Need a process to triage security incidents .

Setup regular scanning for leaked credentials
Incident management : Clear path on how to report it and who manages the incident .  security@osclimate.org is the email to report how its handled after that is the part that needs clarity .

[2022-08-09 17:36] eoriorda commented on #188
Complete and Eric is using

[2022-08-09 17:36] #188 closed

[2022-08-09 17:41] eoriorda commented on #148
@caldeirav   Vincent each pipeline owner would need to own the decision to move the pipeline.  Can we identify one pipeline owner who wants to do this @MichaelTiemann  Micheael would you like to be the tip of the spear.

[2022-08-09 17:45] eoriorda commented on #44
@HumairAK  Did we get a response from the ODH slack channel.  Did they ack this a feature.

[2022-08-09 17:50] eoriorda commented on #171
Have to learn superset in order to deploy it .
Good to have as there will be deprecation
Ryan will look at this  and see whats involved.

[2022-08-09 22:00] erikerlandson commented on #184
I managed to upgrade on my dev cluster, and I am ready to try it on cl1 to start with, then cl2.

the main issue was creating a new openshift secret named `trino-shared-secret` that defines an env var `TRINO_SHARED_SECRET`,
and then adding the following config:

`internal-communication.shared-secret=${ENV:TRINO_SHARED_SECRET}`
to both `config-coordinator.properties` and `config-worker.properties`

[2022-08-09 22:59] caldeirav commented on #148
I think the next logical step is to do this for the first pipeline we would want to have on the so-called "stable cluster". Then whatever we define in terms of schema, organization of RBAC, etc... can become the baseline for future pipelines.

[2022-08-10 20:08] erikerlandson commented on #189
Closed by https://github.com/operate-first/apps/pull/2234

[2022-08-10 20:08] #189 closed

[2022-08-10 20:40] rynofinn commented on #194
Met with Mikhail to verify my access to AWS account of interest and my access to vault.  However, the secrets that will be rotating are not yet migrated to the vault, so will still be updated in sops.  Humair assistance in identifying the exact secrets to regenerate and where they exist in sops is required.  After that information is available, I should be able to proceed with the rotation process

[2022-08-13 10:50] MichaelTiemannOSC commented on #178
The latest spawn window on CL2 no longer advertises Py3.6.

[2022-08-13 10:50] #178 closed

[2022-08-14 00:03] MichaelTiemannOSC opened #197 "Need to onboard ESSD DBT catalog -> Open Metadata"
I've done an initial rewrite of the ESSD pipeline to use DBT to create metadata suitable for OpenMetadata (following the example of the wri_gppd_powerplant_list).

I don't have admin privs, so need somebody who does to point the OpenMetadata ingestion scheduler at these files:

https://github.com/os-climate/essd-ingest-pipeline/blob/iceberg-dbt/dbt/essd_transform/target/manifest.json
https://githu

[2022-08-14 14:28] caldeirav commented on #197
For the DBT metadata ingestion, there is a hitch: OpenMetadata only allows configuring one metadata ingestion per service, which means we can't pass catalog.json for multiple repos. Ideally I'd like to have one repo and one ingestion configured per schema with its own DBT catalog. I am checking with OpenMetadata folks if this is possible.

If not, I believe there is a way to perform an aggregation

[2022-08-14 14:49] MichaelTiemannOSC commented on #197
🤦

I do hope we can aggregate catalogs and manifests without needing to spin up yet another major stack.  Why would it not be as simple as:

[code]

?

[2022-08-14 14:51] caldeirav commented on #197
Response from OpenMetadata team:

hi [@Vincent Caldeira](https://openmetadata.slack.com/team/U02P33BPCKD)
 currently we are allowing only one ingestion per service to be created. But what you are proposing is a valid usecase. Can you file a github issue we will ship it as part of 0.12 release

[2022-08-14 14:52] MichaelTiemannOSC commented on #197
Shall I file the issue or do you want to?  I don't want to dirty it up with misunderstandings, but I think I can express the idea well enough...

[2022-08-14 14:57] MichaelTiemannOSC commented on #197
Actually, see https://github.com/open-metadata/OpenMetadata/issues/5719

[2022-08-14 15:03] caldeirav commented on #197
Issue filed at https://github.com/open-metadata/OpenMetadata/issues/6725

[2022-08-15 14:29] eoriorda commented on #148
Trying to get member led pipeline management.
Michael T and Vincent has provided feedback . Not ready to define a prod pipeline until team have experience in generating more pipelines and defininig in totality what a pipeline should.

[2022-08-16 07:27] MichaelTiemannOSC commented on #195
No reason to rush to 0.11.4, as 0.12 will have what we really want: support for multiple ingestion pipelines per database service: https://github.com/open-metadata/OpenMetadata/issues/5719

[2022-08-16 07:27] #195 closed

[2022-08-16 11:14] MichaelTiemannOSC commented on #197
And now completed!  See https://github.com/open-metadata/OpenMetadata/pull/6737

This will make the 0.12 release very interesting to us!

[2022-08-16 17:19] eoriorda opened #198 "Up to date Arch diagram for Data Commons including inventory of all apps"

[2022-08-16 17:25] eoriorda commented on #196
Github history cleanup has been complete
Looked at AWS and validating credentials
Humair plans to rotate keys

[2022-08-16 17:41] eoriorda commented on #44
If we upgrade to ODH we get the standard dashboard .  We are on Version 1.2 need to be on 1.3 . @HumairAK will check with ODF group to see if this feature is available on 1.3 and the LOE .

[2022-08-16 17:42] eoriorda commented on #171
@HumairAK volunteered to help Ryan

[2022-08-16 17:47] redmikhail commented on #190
Based on what I understand switching to cgroup v2 is supported starting with Openshift version 4.10. (https://docs.openshift.com/container-platform/4.10/post_installation_configuration/machine-configuration-tasks.html#nodes-nodes-cgroups-2_post-install-machine-configuration-tasks). Ocs-cl1 runs 4.8 and OSC-Cl2 runs 4.9 at the moment.  Switching to cgroup v2 potentially impacting change. If we want

[2022-08-16 17:54] eoriorda commented on #186
1. Migrate the relevant or needed workloads to cluster 2
     - Eric to fix ingest script to remove the 4 day latency .  OSC Ingest tools is the .
     - This is the main blocker to prevent us moving to Cluster 2

[2022-08-17 23:26] redmikhail commented on #194
New keys for ocp-odh-os-demo-s3 and ocp-odh-data-bucket1-s3 have been created and old one deactivated (will be deleted on Monday , Aug 22) .  Openshift objects on both clusters have been updated to use new keys. Key for redhat-osc-physical-landing-647521352890 bucket didn't need to change as affected key has been has been updated in April of 2022 due to unrelated issue

[2022-08-18 00:50] caldeirav commented on #80
Closing this issue as OpenMetadata component has now been validated to meet our needs so far.

[2022-08-18 00:50] #80 closed

[2022-08-18 20:24] erikerlandson commented on #184
I'm going to close this since we have verified 388.  If we run into any future problems upgrading we'll open dedicated issue

[2022-08-18 20:24] #184 closed

[2022-08-19 08:37] MichaelTiemannOSC opened #199 "Support partitioning on fields that may contain whitespace (Trino 393)"
Trino 393 fixed a bug just hit on the ESSD pipeline.  The fix is here https://github.com/trinodb/trino/issues/12226.  The ESSD workaround is here: https://github.com/os-climate/osc-ingest-tools/issues/38 (support tables with no partitions, when we cannot partition on fields that contain whitespace).

It also seems to roll up a lot of other nice fixes and functionality.  Let's monitor whether 394 c

[2022-08-19 13:55] HeatherAck commented on #40
the ~75K reports are now available
Here is the credential which you can use to access the documents from sftp path, attaching along here excel file that contains the document definition. I placed all the files in one folder as multiple folder creation was not allowing under same account, so you can get all the docs from one folder.

 

HostURL: sftp://edx.spglobal.com/Products/ /Products/OSC-ESG

[2022-08-23 17:11] HeatherAck commented on #196
Need documentation on how to initiate incident
How to handle security in general
Heather to add Eric and Mikhail as moderators to email distro list

[2022-08-23 17:13] HeatherAck commented on #44
pending update from ODH

[2022-08-23 17:20] HeatherAck commented on #171
Image (see link below) - also may be a breaking change (we can leverage smaug - let people know to back up data)
https://github.com/opendatahub-io/odh-images/tree/main/superset

[2022-08-23 17:27] HeatherAck commented on #186
ingest script fixed.  hive catalog is up.  workflow runs; on-boarding new workflows.
ITR ones left to be moved and AICOE
Mikhail - Openshift Upgrade 4.8 to 4.9, synchronize pipelines and tools that are different from CL2, identify namespaces for Airbus, downsize cluster

[2022-08-23 17:27] HeatherAck commented on #186
ingest script fixed.  hive catalog is up.  workflow runs; on-boarding new workflows.
ITR ones left to be moved and AICOE
Mikhail - Openshift Upgrade 4.8 to 4.9, synchronize pipelines and tools that are different from CL2, identify namespaces for Airbus, downsize cluster

[2022-08-23 17:29] HeatherAck commented on #98
@HeatherAck to follow up with Matthieu, dependent on superset and tool versions

[2022-08-23 17:31] HeatherAck commented on #179
duplicate - @MightyNerdEric confirmed automatically signoff is not permitted/allowed via githooks

[2022-08-23 17:31] #179 closed

[2022-08-23 17:43] HeatherAck commented on #40
@redmikhail will investigate and see where best to put in S3 bucket.  what is lifecycle process for these files?
- ingest from S&P bucket [write a notebook to call osc-ingest tools]
- load into pachyderm and version it [@caldeirav are we using pachyderm or DVC?]
- load into iceberg tables on CL2
@HeatherAck to follow up with @JeremyGohBNP to determine ingestion pipeline process.

[2022-08-23 18:13] HumairAK commented on #44
reached out to ODH slack [here](https://odh-io.slack.com/archives/C0330L52N22/p1661277847062679)

Looks like the feature for adding custom links is not in yet, but will be available after [this pr](https://github.com/opendatahub-io/odh-dashboard/pull/243) is merged.

As per @cfchase

any idea if this is on a milestone for any release?

it's supposed to be reviewed and merged this week

If that's t

[2022-08-25 01:56] caldeirav opened #200 "Write documentation for addition of topics in Kafka"

[2022-08-25 01:58] caldeirav commented on #200
Currently we have one working topic for fx rates on our Strimzi setup but in the future we will need to integrate more streaming data (e.g. from Kepler Prometheus export). We need to document the required changes / pull requests (Including management of schema) so this can be done independently by any developer who needs to create a new topic.

FYI @rootfs as this will be required for #192 and int

[2022-08-25 03:18] chenwyi2 commented on #153
there is a way to import a hive table into a specific parition in iceberg? the partition schema between hive table and iceberg is different, for example, a hive table has two partitions  but  a iceberg tablehas three paritions, we want import this hive table into  a specific parition in iceberg.

[2022-08-25 08:26] MichaelTiemannOSC commented on #153
The role of this Issue was specific to some particular Iceberg functionality (that we cannot yet access due to how much Spark we are willing/able to support in our implementation).  Once the question of using Hive comes up, @erikerlandson has implemented a fast-path that demonstrates 70x speedup, which is enough to break through the bottleneck of row-by-row insertion of textual values statements.

[2022-08-26 23:49] redmikhail commented on #190
Additional validation shows that NVIDIA doesn't work with cgroup v2 option enabled on OCP versions 4.8. 4.9 . nvidia-gcdm-xxxx pod fails to initialize with event `container_linux.go:367: starting container process caused: process_linux.go:495: container init caused: Running hook #0:: error running hook: exit status 1, stdout: , stderr: nvidia-container-cli.real: initialization error: driver error:

[2022-08-28 09:52] MichaelTiemannOSC opened #201 "Create documentation for creating images/robots managed by OS-C"
This section of the tutorial explains how to set up a Robot account in Quay:

https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/0ff073756d4b6b1f7b787cb01ce42b7c3c7859c8/docs/source/thoth-aicoe-services.md#set-up-robot-account-in-quay

It depends on the reader having a Quay account, which in turn requires a Red Hat credential.

OS-Climate has its own resources managed via Operate First.  Whe

[2022-08-29 11:38] MichaelTiemannOSC commented on #198
Related: https://github.com/os-climate/os_c_data_commons/issues/201

The above is related because AT PRESENT, virtually all of our data pipelines have library requirements not currently met by any existing default runtime environments.  The AICoE tutorial explains how to use Thoth, Sesheta, and other CI/CD tools to build and deploy one's own images into Quay, but that quickly leads to runtime imag

[2022-08-29 14:09] eoriorda commented on #190
GPU is out of scope for now .
Tested to see if can reproduce with GPU on another environment.  Action : Reach out to Kepler .
Question : Does this need to be deployed onto cluster 2 ? for the demo first week of September.
Decision : Deploy into Cluster 2 to a subset of machines not to impact other users.

[2022-08-29 14:12] eoriorda commented on #187
@Mohammad-nassar10  Can we close this ticket as this has been deployed ?

[2022-08-29 14:27] eoriorda commented on #38
Action : Need some enhancements from the openmetadata group.
Catalog is there in Openmetadata. CAn we ingest a dashboard.
Collection of Browsers build on superset and available on the dashboard.
Depedency - Openmeta data upgrade.

[2022-08-30 07:44] Mohammad-nassar10 commented on #187
@eoriorda yes, thanks!

[2022-08-30 17:12] eoriorda commented on #40
Eric can do this download  using lfdp which can set remotes for download and upload. Running locally on Erics machine.  LFTP has a smart funtcion which moves new and changed . Can move this to a container .
Mikhail would like to see this in a repeatable fashion , move it to AWS as a virtual machine or container.
Like to have it spawned and run on a shared instance.
Eric is working on getting this

[2022-08-30 17:27] eoriorda commented on #44
Humair reached out to ODH .  There is no PR that is ready for merging but its queued up for 1st Week of September.

Dependency :
Patch needs to be merged 1st week of Sep
ODH needs to be upgraded. 1.2 is our current version  . Humair needs to to figure out the upgrade path
Deploy the dashboard.

[2022-08-30 17:27] eoriorda commented on #171
On Ryans to do list . in backlog

[2022-08-30 17:38] eoriorda commented on #186
ITR will be removed by Michael T - as everything is moved to Cluster 2 that is needed. @MichaelTiemannOSC

[2022-08-30 19:40] HumairAK commented on #190
Osc-cl2 kepler deployed:
https://console-openshift-console.apps.odh-cl2.apps.os-climate.org/k8s/ns/kepler-monitoring/pods
Grafana on osc-cl2:
https://grafana-opf-monitoring.apps.odh-cl2.apps.os-climate.org/d/9715999726e88a6a1c6bb775143831100ea43111/kepler-exporter-dashboard?orgId=1

@rootfs  and @husky-parul  should have access to both linked above

daemonset was deployed on the worker nodes, not

[2022-08-31 18:38] #192 closed

[2022-09-01 19:34] redmikhail commented on #194
Incident has been resolved

[2022-09-01 19:34] #194 closed

[2022-09-01 22:55] MichaelTiemannOSC commented on #197
Good news: OpenMetadata 0.12 is slated for release Sept 7th!

[2022-09-06 17:08] eoriorda commented on #40
Working for Azure -
Eric needs to find a way to automate it.  Need a way to containerize this .   Eric needs to know the folder in AWS .   @redmikhail to provide the folder location

[2022-09-06 17:21] eoriorda commented on #186
Lets wait for Heather to confirm . Seem like work is being done.

[2022-09-06 17:25] eoriorda commented on #148
Michael suggesed that we are getting to a point that we can transfer technical ownership of ESSD which is a data pipeline.

[2022-09-07 14:28] MichaelTiemannOSC commented on #186
WITNESS and SoS Trades are now fully operational on CL2, so no longer require CL1 resources (per tech check-in meeting today).

[2022-09-08 19:54] MichaelTiemannOSC commented on #197
Version 0.12 has been released: https://github.com/open-metadata/OpenMetadata/releases/tag/0.12.0-release

[2022-09-09 14:32] HeatherAck commented on #199
per LF jira - Eric is working on this issue

[2022-09-09 23:18] redmikhail commented on #40
@eoriorda It should go to s3://redhat-osc-physical-landing-647521352890/SPGI_ESG_Filings/ together with the initial drop of ESG documents unless I am misreading what it is for

[2022-09-12 03:29] caldeirav opened #202 "Upgrade OpenMetadata to release 0.12"

[2022-09-12 03:50] caldeirav commented on #202
OpenMetadata just officially released version 0.12.0 (https://www.youtube.com/watch?v=FeT9Ia98g4Y). We require this release in order to finalise our data pipelines approach including the following fix:

https://github.com/open-metadata/OpenMetadata/issues/6725

Details about the latest release can be found at:

https://github.com/open-metadata/OpenMetadata/releases/tag/0.12.0-release

[2022-09-12 03:53] caldeirav commented on #50
Requires OpenMetadata upgrade to version 0.12.0 as per #202 so that we can configure multiple ingestion pipelines / DBT transformation in separate repositories for ingestion by the metadata catalog. Once we have this, we will have full end-to-end data lineage management including source versioning, data transformation and metadata ingestion.

[2022-09-12 14:16] caldeirav commented on #38
Dependent on OpenMetadata upgrade to v0.12.0 as per issue #202

[2022-09-12 14:21] caldeirav commented on #82
Moved back to the backlog as we need to consider which pipeline automation tool we want to adopt (Elyra / Airflow / Kubeflow).

[2022-09-12 14:24] caldeirav commented on #183
Dependency on issue #202 in order to configure DBT pipeline for metadata ingestion

[2022-09-12 14:26] eoriorda commented on #187
@caldeirav  Will ask the team if the cluster is working with Fabrik as expected.

[2022-09-12 14:32] eoriorda commented on #198
Produce a dedicated image pipeline repository . Goal to have an image created in the OSC Quay account .  @erikerlandson

[2022-09-12 14:33] caldeirav commented on #130
With the federation of real-time sources such as ECB data as well as integration of BigQuery, we have implemented the three types of patterns (batch ingestion, real-time ingestion and federation). So @caldeirav will now finalize the documentation on this on the basis of these use-cases.

[2022-09-12 18:12] HeatherAck commented on #82
@caldeirav is this a question for the TAC or a tactical one for DC TSC?  Thanks,

[2022-09-13 17:12] HeatherAck commented on #40
eric b. pending credentials from @redmikhail - will move files; test automation using GitHub actions (sync operation, copy over new files, job to run at X interval - containerized but manually triggered)

[2022-09-13 17:20] HeatherAck commented on #196
Heather added Eric/Mikhail/Ryan to distro
Eric to get Open SSF guidelines from LF

[2022-09-13 17:23] HeatherAck commented on #44
still pending on ODH upgrade - revisit task in mid Oct, Not blocker for COP27 - lower priority

[2022-09-13 17:25] HeatherAck commented on #186
@redmikhail will create a new set of tasks/issues to perform specific work: (1) review what is left (2) sync CL1 with CL2 with version/config (3) reduce CL1 nodes

[2022-09-13 17:34] HeatherAck commented on #98
Task on hold until we have stable superset/tool versions; need final snapshot from Airbus as well - next step create plan and checklist along with criteria. Heather to schedule mtg with @caldeirav , @MichaelTiemannOSC , @redmikhail and @sostrades-matthieu-meaux

[2022-09-13 17:44] HeatherAck commented on #202
Dependencies (requires upgrade to airflow, mysql, plus others)
No data needs to be preserved, can drop and re-create.
Want it completed ahead of NYC Climate Week **(Thurs AM, 15-Sep)**
@HumairAK to own task

[2022-09-14 00:49] bryonbaker opened #203 "Add Kafka topic ECB-FX to Trino Catalog"
Similar to issue #193 - can we please add a new Kafka Topic (ECB-FX) to the Trino catalog.

This is all for dev/test of the market-pricing service.
The Trino schema is currently located in my Git Repo:
https://github.com/bryonbaker/markets-pricing-service/blob/ecb-rates-dev/config/ecb-trino-schema.json
https://github.com/bryonbaker/markets-pricing-service/blob/ecb-rates-dev/config/ecb-trino-schema

[2022-09-14 14:05] caldeirav commented on #82
There has to be a technical discussion at the level of the Data Commons stream before we could determine this. Likely the TAC is required only if we are looking at a fundamental change in approach, but not just for a choice of tooling.

[2022-09-15 13:19] HumairAK commented on #203
@bryonbaker these links are inaccessible, are they in a private repo maybe?

[2022-09-15 23:52] bryonbaker commented on #203
@HumairAK - my apologies. Since I raise this request I moved the source code out of my private repo and into is climate.
The repo containes all the code for the service: https://github.com/os-climate/markets-pricing-service

The new urls are:
https://github.com/os-climate/markets-pricing-service/blob/main/config/ecb-trino-schema.yaml
https://github.com/os-climate/markets-pricing-service/blob/main/

[2022-09-18 07:32] bryonbaker opened #204 "create new openshift project for FX pipeline"
Can I please get a new openshift project created: "markets-svc" so I can deploy the "prod" version of the data pipeline microservice?

[2022-09-18 07:35] bryonbaker opened #205 "Access to Airflow Web UI"
Can I please get access to the Airflow WebUI?

[2022-09-18 12:44] MichaelTiemannOSC commented on #204
Bryon, you have hit a problem I've hit a while ago, which is the confusion between doing development things (which I believe properly belongs in the Data Commons repo) and things that are operation-first-like, which belongs in the support queue: https://github.com/operate-first/support.  And of course getting an issue in the wrong queue really hurts when there's 12 hours of timezone difference and

[2022-09-22 14:06] HeatherAck commented on #40
@MightyNerdEric can you please let us know if this is complete?

[2022-09-27 00:09] HeatherAck commented on #40
@rynofinn to work with @MightyNerdEric to resolve credential issues

[2022-09-27 00:15] HeatherAck commented on #196
@HeatherAck to set up meeting to go through guidelines with @MightyNerdEric and align on action plan

[2022-09-27 00:18] HeatherAck commented on #186
@redmikhail still pending - to be done by 30-sep

[2022-09-27 00:18] HeatherAck commented on #186
@redmikhail still pending - to be done by 30-sep

[2022-09-27 00:26] HeatherAck commented on #199
Received testing info.  Another blocker is being able to create an image.  @rynofinn needs Quay account.  Not a high priority, Also pending another Trino release for Google BigQuery bug.

[2022-09-27 00:38] HeatherAck commented on #98
CL2 will serve as baseline for stable cluster; but timing to do so still too early (need libraries to be included in notebook (pre-reqs for pachyderm), need info removed (old version of python), need open metadata issues resolved, Trino upgrades, etc.). @HeatherAck to create pre-req checklist for stable cluster

[2022-09-27 00:46] HeatherAck commented on #148
@caldeirav does this touch fybrik

[2022-09-27 00:50] HeatherAck commented on #127
based on @MichaelTiemannOSC experience, timeout seems to be every 24 hours.  @redmikhail to see if "kill" setting can be modified to be 3 days and provide a warning 10 minutes prior to kill.

[2022-09-27 00:54] HeatherAck commented on #203
@bryonbaker any update on this?

[2022-09-27 00:59] HeatherAck commented on #38
OpenMetaData is done.  Need developer support to build UI for browser creation, plus taxonomy defined. @ericbroda - do you have any base requirements to help team get started

[2022-09-27 01:00] HeatherAck commented on #187
@caldeirav - team believes its deployed - is it working as expected

[2022-09-27 08:28] bryonbaker commented on #203
@HeatherAck - I am waiting for @HumairAK to set up the Trino Catalog.

I then need to do a briefing for people on how to use it.

[2022-09-27 09:30] caldeirav commented on #148
In the long run yes because we would then transfer the definition and management of rules to Fybrik via Open Policy Agent i.e. at the Trino layer we would likely move to grant all access. This is not short term though.

[2022-09-27 16:20] MightyNerdEric commented on #40
Current status: 16.7k files have been transferred of 78k. The first week of this transfer has been very inefficient, but it's now settled into a constant pace. At the current transfer rate, it will take another week to complete.

However, now that I full access to the AWS account, I can properly setup a direct transfer (rather than using my own computer as a midpoint), so that will hopefully incre